USE [NESA]
GO
/****** Object:  StoredProcedure [dbo].[USP_POPULATE_NESA_STUDENT_ACHIEVEMENT_20112012]    Script Date: 1/17/2017 1:36:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[USP_POPULATE_NESA_STUDENT_ACHIEVEMENT_20112012]
(
        @SCHOOL_YEAR DATE = NULL
)
AS

/*  

2011-08-15  MRM  Created job.

*/

IF @SCHOOL_YEAR IS NULL 
    BEGIN
    RAISERROR (
        'Required parameter is not provided.', 16, 1, 
        '"@SCHOOL_YEAR"')
    RETURN 
    END

/*
DECLARE @SCHOOL_YEAR DATE
SET @SCHOOL_YEAR='2012-06-30'
*/

DECLARE @DATAYEARS VARCHAR(8)
SET @DATAYEARS=CAST(YEAR(@SCHOOL_YEAR)-1 AS VARCHAR(4)) + CAST(YEAR(@SCHOOL_YEAR) AS VARCHAR(4))


CREATE TABLE #NESA_STUDENT_ACHIEVEMENT
(DATAYEARS VARCHAR(8),
 DISTRICT_CODE VARCHAR(12),
 SCHOOL_CODE VARCHAR(12),
 NDE_STUDENT_ID VARCHAR(10),
 STANDARDS VARCHAR(10),
 [SUBJECT] CHAR(1),
 GRADE_LEVEL CHAR(2),
 STANDARD_CODE CHAR(2),
 SCHOOL_YEAR DATE,
 STANDARD_TOTAL_COUNT VARCHAR(10),
 STANDARD_CORRECT_COUNT VARCHAR(10),
 STANDARD_CORRECT_PERCENT DECIMAL(8,4))




/***  INSERT RESULTS  --- REGULAR AND ALTERNATE   ***/

INSERT INTO #NESA_STUDENT_ACHIEVEMENT
(DATAYEARS,DISTRICT_CODE,SCHOOL_CODE,NDE_STUDENT_ID,STANDARDS,SUBJECT,
 GRADE_LEVEL,SCHOOL_YEAR,STANDARD_CODE)
SELECT DISTINCT
@DATAYEARS, --CAST([YEAR]-1 AS VARCHAR(4)) + CAST([YEAR]AS VARCHAR(4)),
LEFT((LTRIM(DISTRICT_CODE)),2) + '-' + SUBSTRING((LTRIM(DISTRICT_CODE)),3,4),
RIGHT((RTRIM(SCHOOL_CODE)),3),
NSSRS,
CASE WHEN SUBJECT IN (2,4,6) THEN 'NESA_AA' ELSE 'NESA' END,
CASE WHEN SUBJECT IN (1,2) THEN 'R'
	 WHEN SUBJECT IN (3,4) THEN 'M'
	 WHEN SUBJECT IN (5,6) THEN 'S' END,
GRADE,
@SCHOOL_YEAR,
'01'
FROM [NESA].[dbo].[NESA_20112012_PRE_REPORTING_DATA]
UNION
SELECT DISTINCT
CAST([YEAR]-1 AS VARCHAR(4)) + CAST([YEAR]AS VARCHAR(4)),
LEFT((LTRIM(DISTRICT_CODE)),2) + '-' + SUBSTRING((LTRIM(DISTRICT_CODE)),3,4),
RIGHT((RTRIM(SCHOOL_CODE)),3),
NSSRS,
CASE WHEN SUBJECT IN (2,4,6) THEN 'NESA_AA' ELSE 'NESA' END,
CASE WHEN SUBJECT IN (1,2) THEN 'R'
	 WHEN SUBJECT IN (3,4) THEN 'M'
	 WHEN SUBJECT IN (5,6) THEN 'S' END,
GRADE,
@SCHOOL_YEAR,
'02'
FROM [NESA].[dbo].[NESA_20112012_PRE_REPORTING_DATA]
UNION
SELECT DISTINCT
CAST([YEAR]-1 AS VARCHAR(4)) + CAST([YEAR]AS VARCHAR(4)),
LEFT((LTRIM(DISTRICT_CODE)),2) + '-' + SUBSTRING((LTRIM(DISTRICT_CODE)),3,4),
RIGHT((RTRIM(SCHOOL_CODE)),3),
NSSRS,
CASE WHEN SUBJECT IN (4,6) THEN 'NESA_AA' ELSE 'NESA' END,
CASE WHEN SUBJECT IN (3,4) THEN 'M'
	 WHEN SUBJECT IN (5,6) THEN 'S' END,
GRADE,
@SCHOOL_YEAR,
'03'
FROM [NESA].[dbo].[NESA_20112012_PRE_REPORTING_DATA]
WHERE SUBJECT IN (3,4,5,6)
UNION
SELECT DISTINCT
CAST([YEAR]-1 AS VARCHAR(4)) + CAST([YEAR]AS VARCHAR(4)),
LEFT((LTRIM(DISTRICT_CODE)),2) + '-' + SUBSTRING((LTRIM(DISTRICT_CODE)),3,4),
RIGHT((RTRIM(SCHOOL_CODE)),3),
NSSRS,
CASE WHEN SUBJECT IN (4,6) THEN 'NESA_AA' ELSE 'NESA' END,
CASE WHEN SUBJECT IN (3,4) THEN 'M'
	 WHEN SUBJECT IN (5,6) THEN 'S' END,
GRADE,
@SCHOOL_YEAR,
'04'
FROM [NESA].[dbo].[NESA_20112012_PRE_REPORTING_DATA]
WHERE SUBJECT IN (3,4,5,6)





/****  UPDATE THE INVALID AND OTHER REASON NOT TESTED   ****/
----  STANDARD CODE 1
UPDATE #NESA_STUDENT_ACHIEVEMENT
SET STANDARD_TOTAL_COUNT =  Standard_1_Number_of_Operational_MC_Items,
	STANDARD_CORRECT_COUNT = Standard_1_Raw_Score,
	STANDARD_CORRECT_PERCENT = CASE WHEN Standard_1_Number_of_Operational_MC_Items = 0 THEN '0'
							        ELSE ((CAST(Standard_1_Raw_Score AS FLOAT))/Standard_1_Number_of_Operational_MC_Items) END
FROM [NESA].[dbo].[NESA_20112012_PRE_REPORTING_DATA] AS NESA
WHERE LEFT((LTRIM(NESA.DISTRICT_CODE)),2) + '-' + SUBSTRING((LTRIM(NESA.DISTRICT_CODE)),3,4) = #NESA_STUDENT_ACHIEVEMENT.DISTRICT_CODE
AND RIGHT((RTRIM(NESA.SCHOOL_CODE)),3) = #NESA_STUDENT_ACHIEVEMENT.SCHOOL_CODE
AND NESA.NSSRS = #NESA_STUDENT_ACHIEVEMENT.NDE_STUDENT_ID
AND CASE WHEN NESA.SUBJECT IN (1,2) THEN 'R'
		 WHEN NESA.SUBJECT IN (3,4) THEN 'M'
		 WHEN NESA.SUBJECT IN (5,6) THEN 'S' END = #NESA_STUDENT_ACHIEVEMENT.SUBJECT
AND CASE WHEN NESA.SUBJECT IN (2,4,6) THEN 'NESA_AA' ELSE 'NESA' END = #NESA_STUDENT_ACHIEVEMENT.STANDARDS
AND NESA.STANDARD_1_CODE = #NESA_STUDENT_ACHIEVEMENT.STANDARD_CODE
AND NESA.Student_Reason_Not_Scored IN ('INV','OTH')





---  STANDARD CODE 2

UPDATE #NESA_STUDENT_ACHIEVEMENT
SET STANDARD_TOTAL_COUNT =  Standard_2_Number_of_Operational_MC_Items,
	STANDARD_CORRECT_COUNT = Standard_2_Raw_Score,
	STANDARD_CORRECT_PERCENT = CASE WHEN Standard_2_Number_of_Operational_MC_Items = 0 THEN '0'
							        ELSE ((CAST(Standard_2_Raw_Score AS FLOAT))/Standard_2_Number_of_Operational_MC_Items) END
FROM [NESA].[dbo].[NESA_20112012_PRE_REPORTING_DATA] AS NESA
WHERE LEFT((LTRIM(NESA.DISTRICT_CODE)),2) + '-' + SUBSTRING((LTRIM(NESA.DISTRICT_CODE)),3,4) = #NESA_STUDENT_ACHIEVEMENT.DISTRICT_CODE
AND RIGHT((RTRIM(NESA.SCHOOL_CODE)),3) = #NESA_STUDENT_ACHIEVEMENT.SCHOOL_CODE
AND NESA.NSSRS = #NESA_STUDENT_ACHIEVEMENT.NDE_STUDENT_ID
AND CASE WHEN NESA.SUBJECT IN (1,2) THEN 'R'
		 WHEN NESA.SUBJECT IN (3,4) THEN 'M'
		 WHEN NESA.SUBJECT IN (5,6) THEN 'S' END = #NESA_STUDENT_ACHIEVEMENT.SUBJECT
AND CASE WHEN NESA.SUBJECT IN (2,4,6) THEN 'NESA_AA' ELSE 'NESA' END = #NESA_STUDENT_ACHIEVEMENT.STANDARDS
AND NESA.STANDARD_2_CODE = #NESA_STUDENT_ACHIEVEMENT.STANDARD_CODE
AND NESA.Student_Reason_Not_Scored IN ('INV','OTH')




---  STANDARD CODE 3

UPDATE #NESA_STUDENT_ACHIEVEMENT
SET STANDARD_TOTAL_COUNT =  Standard_3_Number_of_Operational_MC_Items,
	STANDARD_CORRECT_COUNT = Standard_3_Raw_Score,
	STANDARD_CORRECT_PERCENT = CASE WHEN Standard_3_Number_of_Operational_MC_Items = 0 THEN '0'
							        ELSE ((CAST(Standard_3_Raw_Score AS FLOAT))/Standard_3_Number_of_Operational_MC_Items) END
FROM [NESA].[dbo].[NESA_20112012_PRE_REPORTING_DATA] AS NESA
WHERE LEFT((LTRIM(NESA.DISTRICT_CODE)),2) + '-' + SUBSTRING((LTRIM(NESA.DISTRICT_CODE)),3,4) = #NESA_STUDENT_ACHIEVEMENT.DISTRICT_CODE
AND RIGHT((RTRIM(NESA.SCHOOL_CODE)),3) = #NESA_STUDENT_ACHIEVEMENT.SCHOOL_CODE
AND NESA.NSSRS = #NESA_STUDENT_ACHIEVEMENT.NDE_STUDENT_ID
AND CASE WHEN NESA.SUBJECT IN (3,4) THEN 'M'
		 WHEN NESA.SUBJECT IN (5,6) THEN 'S' END = #NESA_STUDENT_ACHIEVEMENT.SUBJECT
AND CASE WHEN NESA.SUBJECT IN (4,6) THEN 'NESA_AA' ELSE 'NESA' END = #NESA_STUDENT_ACHIEVEMENT.STANDARDS
AND NESA.STANDARD_3_CODE = #NESA_STUDENT_ACHIEVEMENT.STANDARD_CODE
AND NESA.Student_Reason_Not_Scored IN ('INV','OTH')
AND NESA.SUBJECT IN (3,4,5,6)


---  STANDARD CODE 4

UPDATE #NESA_STUDENT_ACHIEVEMENT
SET STANDARD_TOTAL_COUNT =  Standard_4_Number_of_Operational_MC_Items,
	STANDARD_CORRECT_COUNT = Standard_4_Raw_Score,
	STANDARD_CORRECT_PERCENT = CASE WHEN Standard_4_Number_of_Operational_MC_Items = 0 THEN '0'
							        ELSE ((CAST(Standard_4_Raw_Score AS FLOAT))/Standard_4_Number_of_Operational_MC_Items) END
FROM [NESA].[dbo].[NESA_20112012_PRE_REPORTING_DATA] AS NESA
WHERE LEFT((LTRIM(NESA.DISTRICT_CODE)),2) + '-' + SUBSTRING((LTRIM(NESA.DISTRICT_CODE)),3,4) = #NESA_STUDENT_ACHIEVEMENT.DISTRICT_CODE
AND RIGHT((RTRIM(NESA.SCHOOL_CODE)),3) = #NESA_STUDENT_ACHIEVEMENT.SCHOOL_CODE
AND NESA.NSSRS = #NESA_STUDENT_ACHIEVEMENT.NDE_STUDENT_ID
AND CASE WHEN NESA.SUBJECT IN (3,4) THEN 'M'
		 WHEN NESA.SUBJECT IN (5,6) THEN 'S' END = #NESA_STUDENT_ACHIEVEMENT.SUBJECT
AND CASE WHEN NESA.SUBJECT IN (4,6) THEN 'NESA_AA' ELSE 'NESA' END = #NESA_STUDENT_ACHIEVEMENT.STANDARDS
AND NESA.STANDARD_4_CODE = #NESA_STUDENT_ACHIEVEMENT.STANDARD_CODE
AND NESA.Student_Reason_Not_Scored IN ('INV','OTH')
AND NESA.SUBJECT IN (3,4,5,6)


/****  UPDATE ATTEMPTED TEST   ****/

---   STANDARD CODE 1

UPDATE #NESA_STUDENT_ACHIEVEMENT
SET STANDARD_TOTAL_COUNT =  Standard_1_Number_of_Operational_MC_Items,
	STANDARD_CORRECT_COUNT = Standard_1_Raw_Score,
	STANDARD_CORRECT_PERCENT = CASE WHEN Standard_1_Number_of_Operational_MC_Items = 0 THEN '0'
							        ELSE ((CAST(Standard_1_Raw_Score AS FLOAT))/Standard_1_Number_of_Operational_MC_Items) END
FROM [NESA].[dbo].[NESA_20112012_PRE_REPORTING_DATA] AS NESA
WHERE LEFT((LTRIM(NESA.DISTRICT_CODE)),2) + '-' + SUBSTRING((LTRIM(NESA.DISTRICT_CODE)),3,4) = #NESA_STUDENT_ACHIEVEMENT.DISTRICT_CODE
AND RIGHT((RTRIM(NESA.SCHOOL_CODE)),3) = #NESA_STUDENT_ACHIEVEMENT.SCHOOL_CODE
AND NESA.NSSRS = #NESA_STUDENT_ACHIEVEMENT.NDE_STUDENT_ID
AND CASE WHEN NESA.SUBJECT IN (1,2) THEN 'R'
		 WHEN NESA.SUBJECT IN (3,4) THEN 'M'
		 WHEN NESA.SUBJECT IN (5,6) THEN 'S' END = #NESA_STUDENT_ACHIEVEMENT.SUBJECT
AND CASE WHEN NESA.SUBJECT IN (2,4,6) THEN 'NESA_AA' ELSE 'NESA' END = #NESA_STUDENT_ACHIEVEMENT.STANDARDS
AND NESA.STANDARD_1_CODE = #NESA_STUDENT_ACHIEVEMENT.STANDARD_CODE
AND #NESA_STUDENT_ACHIEVEMENT.STANDARD_TOTAL_COUNT IS NULL
AND NESA.PERFORMANCE_LEVEL IN ('1','2','3')
AND NESA.STUDENT_REASON_NOT_SCORED NOT IN ('SAE','PAR','OTH','INV')




---   STANDARD CODE 2

UPDATE #NESA_STUDENT_ACHIEVEMENT
SET STANDARD_TOTAL_COUNT =  Standard_2_Number_of_Operational_MC_Items,
	STANDARD_CORRECT_COUNT = Standard_2_Raw_Score,
	STANDARD_CORRECT_PERCENT = CASE WHEN Standard_2_Number_of_Operational_MC_Items = 0 THEN '0'
							        ELSE ((CAST(Standard_2_Raw_Score AS FLOAT))/Standard_2_Number_of_Operational_MC_Items) END
FROM [NESA].[dbo].[NESA_20112012_PRE_REPORTING_DATA] AS NESA
WHERE LEFT((LTRIM(NESA.DISTRICT_CODE)),2) + '-' + SUBSTRING((LTRIM(NESA.DISTRICT_CODE)),3,4) = #NESA_STUDENT_ACHIEVEMENT.DISTRICT_CODE
AND RIGHT((RTRIM(NESA.SCHOOL_CODE)),3) = #NESA_STUDENT_ACHIEVEMENT.SCHOOL_CODE
AND NESA.NSSRS = #NESA_STUDENT_ACHIEVEMENT.NDE_STUDENT_ID
AND CASE WHEN NESA.SUBJECT IN (1,2) THEN 'R'
		 WHEN NESA.SUBJECT IN (3,4) THEN 'M'
		 WHEN NESA.SUBJECT IN (5,6) THEN 'S' END = #NESA_STUDENT_ACHIEVEMENT.SUBJECT
AND CASE WHEN NESA.SUBJECT IN (2,4,6) THEN 'NESA_AA' ELSE 'NESA' END = #NESA_STUDENT_ACHIEVEMENT.STANDARDS
AND NESA.STANDARD_2_CODE = #NESA_STUDENT_ACHIEVEMENT.STANDARD_CODE
AND #NESA_STUDENT_ACHIEVEMENT.STANDARD_TOTAL_COUNT IS NULL
AND NESA.PERFORMANCE_LEVEL IN ('1','2','3')
AND NESA.STUDENT_REASON_NOT_SCORED NOT IN ('SAE','PAR','OTH','INV')






---   STANDARD CODE 3

UPDATE #NESA_STUDENT_ACHIEVEMENT
SET STANDARD_TOTAL_COUNT =  Standard_3_Number_of_Operational_MC_Items,
	STANDARD_CORRECT_COUNT = Standard_3_Raw_Score,
	STANDARD_CORRECT_PERCENT = CASE WHEN Standard_3_Number_of_Operational_MC_Items = 0 THEN '0'
							        ELSE ((CAST(Standard_3_Raw_Score AS FLOAT))/Standard_3_Number_of_Operational_MC_Items) END
FROM [NESA].[dbo].[NESA_20112012_PRE_REPORTING_DATA] AS NESA
WHERE LEFT((LTRIM(NESA.DISTRICT_CODE)),2) + '-' + SUBSTRING((LTRIM(NESA.DISTRICT_CODE)),3,4) = #NESA_STUDENT_ACHIEVEMENT.DISTRICT_CODE
AND RIGHT((RTRIM(NESA.SCHOOL_CODE)),3) = #NESA_STUDENT_ACHIEVEMENT.SCHOOL_CODE
AND NESA.NSSRS = #NESA_STUDENT_ACHIEVEMENT.NDE_STUDENT_ID
AND CASE WHEN NESA.SUBJECT IN (3,4) THEN 'M'
		 WHEN NESA.SUBJECT IN (5,6) THEN 'S' END = #NESA_STUDENT_ACHIEVEMENT.SUBJECT
AND CASE WHEN NESA.SUBJECT IN (4,6) THEN 'NESA_AA' ELSE 'NESA' END = #NESA_STUDENT_ACHIEVEMENT.STANDARDS
AND NESA.STANDARD_3_CODE = #NESA_STUDENT_ACHIEVEMENT.STANDARD_CODE
AND #NESA_STUDENT_ACHIEVEMENT.STANDARD_TOTAL_COUNT IS NULL
AND NESA.PERFORMANCE_LEVEL IN ('1','2','3')
AND NESA.STUDENT_REASON_NOT_SCORED NOT IN ('SAE','PAR','OTH','INV')
AND NESA.SUBJECT IN (3,4,5,6)



---   STANDARD CODE 4

UPDATE #NESA_STUDENT_ACHIEVEMENT
SET STANDARD_TOTAL_COUNT =  Standard_4_Number_of_Operational_MC_Items,
	STANDARD_CORRECT_COUNT = Standard_4_Raw_Score,
	STANDARD_CORRECT_PERCENT = CASE WHEN Standard_4_Number_of_Operational_MC_Items = 0 THEN '0'
							        ELSE ((CAST(Standard_4_Raw_Score AS FLOAT))/Standard_4_Number_of_Operational_MC_Items) END
FROM [NESA].[dbo].[NESA_20112012_PRE_REPORTING_DATA] AS NESA
WHERE LEFT((LTRIM(NESA.DISTRICT_CODE)),2) + '-' + SUBSTRING((LTRIM(NESA.DISTRICT_CODE)),3,4) = #NESA_STUDENT_ACHIEVEMENT.DISTRICT_CODE
AND RIGHT((RTRIM(NESA.SCHOOL_CODE)),3) = #NESA_STUDENT_ACHIEVEMENT.SCHOOL_CODE
AND NESA.NSSRS = #NESA_STUDENT_ACHIEVEMENT.NDE_STUDENT_ID
AND CASE WHEN NESA.SUBJECT IN (3,4) THEN 'M'
		 WHEN NESA.SUBJECT IN (5,6) THEN 'S' END = #NESA_STUDENT_ACHIEVEMENT.SUBJECT
AND CASE WHEN NESA.SUBJECT IN (4,6) THEN 'NESA_AA' ELSE 'NESA' END = #NESA_STUDENT_ACHIEVEMENT.STANDARDS
AND NESA.STANDARD_4_CODE = #NESA_STUDENT_ACHIEVEMENT.STANDARD_CODE
AND #NESA_STUDENT_ACHIEVEMENT.STANDARD_TOTAL_COUNT IS NULL
AND NESA.PERFORMANCE_LEVEL IN ('1','2','3')
AND NESA.STUDENT_REASON_NOT_SCORED NOT IN ('SAE','PAR','OTH','INV')
AND NESA.SUBJECT IN (3,4,5,6)



/****  UPDATE EXEMPT CODES (NLE,EMW,RAL)   ****/

----   STANDARD CODE 1

UPDATE #NESA_STUDENT_ACHIEVEMENT
SET STANDARD_TOTAL_COUNT =  Standard_1_Number_of_Operational_MC_Items,
	STANDARD_CORRECT_COUNT = Standard_1_Raw_Score,
	STANDARD_CORRECT_PERCENT = CASE WHEN Standard_1_Number_of_Operational_MC_Items = 0 THEN '0'
							        ELSE ((CAST(Standard_1_Raw_Score AS FLOAT))/Standard_1_Number_of_Operational_MC_Items) END
FROM [NESA].[dbo].[NESA_20112012_PRE_REPORTING_DATA] AS NESA
WHERE LEFT((LTRIM(NESA.DISTRICT_CODE)),2) + '-' + SUBSTRING((LTRIM(NESA.DISTRICT_CODE)),3,4) = #NESA_STUDENT_ACHIEVEMENT.DISTRICT_CODE
AND RIGHT((RTRIM(NESA.SCHOOL_CODE)),3) = #NESA_STUDENT_ACHIEVEMENT.SCHOOL_CODE
AND NESA.NSSRS = #NESA_STUDENT_ACHIEVEMENT.NDE_STUDENT_ID
AND CASE WHEN NESA.SUBJECT IN (1,2) THEN 'R'
		 WHEN NESA.SUBJECT IN (3,4) THEN 'M'
		 WHEN NESA.SUBJECT IN (5,6) THEN 'S' END = #NESA_STUDENT_ACHIEVEMENT.SUBJECT
AND CASE WHEN NESA.SUBJECT IN (2,4,6) THEN 'NESA_AA' ELSE 'NESA' END = #NESA_STUDENT_ACHIEVEMENT.STANDARDS
AND NESA.STANDARD_1_CODE = #NESA_STUDENT_ACHIEVEMENT.STANDARD_CODE
AND #NESA_STUDENT_ACHIEVEMENT.STANDARD_TOTAL_COUNT IS NULL
AND NESA.Student_Reason_Not_Scored IN ('NLE','EMW','RAL')




----   STANDARD CODE 2

UPDATE #NESA_STUDENT_ACHIEVEMENT
SET STANDARD_TOTAL_COUNT =  Standard_2_Number_of_Operational_MC_Items,
	STANDARD_CORRECT_COUNT = Standard_2_Raw_Score,
	STANDARD_CORRECT_PERCENT = CASE WHEN Standard_2_Number_of_Operational_MC_Items = 0 THEN '0'
							        ELSE ((CAST(Standard_2_Raw_Score AS FLOAT))/Standard_2_Number_of_Operational_MC_Items) END
FROM [NESA].[dbo].[NESA_20112012_PRE_REPORTING_DATA] AS NESA
WHERE LEFT((LTRIM(NESA.DISTRICT_CODE)),2) + '-' + SUBSTRING((LTRIM(NESA.DISTRICT_CODE)),3,4) = #NESA_STUDENT_ACHIEVEMENT.DISTRICT_CODE
AND RIGHT((RTRIM(NESA.SCHOOL_CODE)),3) = #NESA_STUDENT_ACHIEVEMENT.SCHOOL_CODE
AND NESA.NSSRS = #NESA_STUDENT_ACHIEVEMENT.NDE_STUDENT_ID
AND CASE WHEN NESA.SUBJECT IN (1,2) THEN 'R'
		 WHEN NESA.SUBJECT IN (3,4) THEN 'M'
		 WHEN NESA.SUBJECT IN (5,6) THEN 'S' END = #NESA_STUDENT_ACHIEVEMENT.SUBJECT
AND CASE WHEN NESA.SUBJECT IN (2,4,6) THEN 'NESA_AA' ELSE 'NESA' END = #NESA_STUDENT_ACHIEVEMENT.STANDARDS
AND NESA.STANDARD_2_CODE = #NESA_STUDENT_ACHIEVEMENT.STANDARD_CODE
AND #NESA_STUDENT_ACHIEVEMENT.STANDARD_TOTAL_COUNT IS NULL
AND NESA.Student_Reason_Not_Scored IN ('NLE','EMW','RAL')






---   STANDARD CODE 3

UPDATE #NESA_STUDENT_ACHIEVEMENT
SET STANDARD_TOTAL_COUNT =  Standard_3_Number_of_Operational_MC_Items,
	STANDARD_CORRECT_COUNT = Standard_3_Raw_Score,
	STANDARD_CORRECT_PERCENT = CASE WHEN Standard_3_Number_of_Operational_MC_Items = 0 THEN '0'
							        ELSE ((CAST(Standard_3_Raw_Score AS FLOAT))/Standard_3_Number_of_Operational_MC_Items) END
FROM [NESA].[dbo].[NESA_20112012_PRE_REPORTING_DATA] AS NESA
WHERE LEFT((LTRIM(NESA.DISTRICT_CODE)),2) + '-' + SUBSTRING((LTRIM(NESA.DISTRICT_CODE)),3,4) = #NESA_STUDENT_ACHIEVEMENT.DISTRICT_CODE
AND RIGHT((RTRIM(NESA.SCHOOL_CODE)),3) = #NESA_STUDENT_ACHIEVEMENT.SCHOOL_CODE
AND NESA.NSSRS = #NESA_STUDENT_ACHIEVEMENT.NDE_STUDENT_ID
AND CASE WHEN NESA.SUBJECT IN (3,4) THEN 'M'
		 WHEN NESA.SUBJECT IN (5,6) THEN 'S' END = #NESA_STUDENT_ACHIEVEMENT.SUBJECT
AND CASE WHEN NESA.SUBJECT IN (4,6) THEN 'NESA_AA' ELSE 'NESA' END = #NESA_STUDENT_ACHIEVEMENT.STANDARDS
AND NESA.STANDARD_3_CODE = #NESA_STUDENT_ACHIEVEMENT.STANDARD_CODE
AND #NESA_STUDENT_ACHIEVEMENT.STANDARD_TOTAL_COUNT IS NULL
AND NESA.PERFORMANCE_LEVEL IN ('1','2','3')
AND NESA.STUDENT_REASON_NOT_SCORED NOT IN ('SAE','PAR','OTH','INV')
AND NESA.SUBJECT IN (3,4,5,6)





---   STANDARD CODE 4

UPDATE #NESA_STUDENT_ACHIEVEMENT
SET STANDARD_TOTAL_COUNT =  Standard_4_Number_of_Operational_MC_Items,
	STANDARD_CORRECT_COUNT = Standard_4_Raw_Score,
	STANDARD_CORRECT_PERCENT = CASE WHEN Standard_4_Number_of_Operational_MC_Items = 0 THEN '0'
							        ELSE ((CAST(Standard_4_Raw_Score AS FLOAT))/Standard_4_Number_of_Operational_MC_Items) END
FROM [NESA].[dbo].[NESA_20112012_PRE_REPORTING_DATA] AS NESA
WHERE LEFT((LTRIM(NESA.DISTRICT_CODE)),2) + '-' + SUBSTRING((LTRIM(NESA.DISTRICT_CODE)),3,4) = #NESA_STUDENT_ACHIEVEMENT.DISTRICT_CODE
AND RIGHT((RTRIM(NESA.SCHOOL_CODE)),3) = #NESA_STUDENT_ACHIEVEMENT.SCHOOL_CODE
AND NESA.NSSRS = #NESA_STUDENT_ACHIEVEMENT.NDE_STUDENT_ID
AND CASE WHEN NESA.SUBJECT IN (3,4) THEN 'M'
		 WHEN NESA.SUBJECT IN (5,6) THEN 'S' END = #NESA_STUDENT_ACHIEVEMENT.SUBJECT
AND CASE WHEN NESA.SUBJECT IN (4,6) THEN 'NESA_AA' ELSE 'NESA' END = #NESA_STUDENT_ACHIEVEMENT.STANDARDS
AND NESA.STANDARD_4_CODE = #NESA_STUDENT_ACHIEVEMENT.STANDARD_CODE
AND #NESA_STUDENT_ACHIEVEMENT.STANDARD_TOTAL_COUNT IS NULL
AND NESA.PERFORMANCE_LEVEL IN ('1','2','3')
AND NESA.STUDENT_REASON_NOT_SCORED NOT IN ('SAE','PAR','OTH','INV')
AND NESA.SUBJECT IN (3,4,5,6)




/****  UPDATE REASON NOT TESTED CODES (SAE,PAR)  ****/

---   STANDARD CODE 1

UPDATE #NESA_STUDENT_ACHIEVEMENT
SET STANDARD_TOTAL_COUNT =  Standard_1_Number_of_Operational_MC_Items,
	STANDARD_CORRECT_COUNT = Standard_1_Raw_Score,
	STANDARD_CORRECT_PERCENT = CASE WHEN Standard_1_Number_of_Operational_MC_Items = 0 THEN '0'
							        ELSE ((CAST(Standard_1_Raw_Score AS FLOAT))/Standard_1_Number_of_Operational_MC_Items) END
FROM [NESA].[dbo].[NESA_20112012_PRE_REPORTING_DATA] AS NESA
WHERE LEFT((LTRIM(NESA.DISTRICT_CODE)),2) + '-' + SUBSTRING((LTRIM(NESA.DISTRICT_CODE)),3,4) = #NESA_STUDENT_ACHIEVEMENT.DISTRICT_CODE
AND RIGHT((RTRIM(NESA.SCHOOL_CODE)),3) = #NESA_STUDENT_ACHIEVEMENT.SCHOOL_CODE
AND NESA.NSSRS = #NESA_STUDENT_ACHIEVEMENT.NDE_STUDENT_ID
AND CASE WHEN NESA.SUBJECT IN (1,2) THEN 'R'
		 WHEN NESA.SUBJECT IN (3,4) THEN 'M'
		 WHEN NESA.SUBJECT IN (5,6) THEN 'S' END = #NESA_STUDENT_ACHIEVEMENT.SUBJECT
AND CASE WHEN NESA.SUBJECT IN (2,4,6) THEN 'NESA_AA' ELSE 'NESA' END = #NESA_STUDENT_ACHIEVEMENT.STANDARDS
AND NESA.STANDARD_1_CODE = #NESA_STUDENT_ACHIEVEMENT.STANDARD_CODE
AND #NESA_STUDENT_ACHIEVEMENT.STANDARD_TOTAL_COUNT IS NULL
AND NESA.Student_Reason_Not_Scored IN ('SAE','PAR')




---   STANDARD CODE 2

UPDATE #NESA_STUDENT_ACHIEVEMENT
SET STANDARD_TOTAL_COUNT =  Standard_2_Number_of_Operational_MC_Items,
	STANDARD_CORRECT_COUNT = Standard_2_Raw_Score,
	STANDARD_CORRECT_PERCENT = CASE WHEN Standard_2_Number_of_Operational_MC_Items = 0 THEN '0'
							        ELSE ((CAST(Standard_2_Raw_Score AS FLOAT))/Standard_2_Number_of_Operational_MC_Items) END
FROM [NESA].[dbo].[NESA_20112012_PRE_REPORTING_DATA] AS NESA
WHERE LEFT((LTRIM(NESA.DISTRICT_CODE)),2) + '-' + SUBSTRING((LTRIM(NESA.DISTRICT_CODE)),3,4) = #NESA_STUDENT_ACHIEVEMENT.DISTRICT_CODE
AND RIGHT((RTRIM(NESA.SCHOOL_CODE)),3) = #NESA_STUDENT_ACHIEVEMENT.SCHOOL_CODE
AND NESA.NSSRS = #NESA_STUDENT_ACHIEVEMENT.NDE_STUDENT_ID
AND CASE WHEN NESA.SUBJECT IN (1,2) THEN 'R'
		 WHEN NESA.SUBJECT IN (3,4) THEN 'M'
		 WHEN NESA.SUBJECT IN (5,6) THEN 'S' END = #NESA_STUDENT_ACHIEVEMENT.SUBJECT
AND CASE WHEN NESA.SUBJECT IN (2,4,6) THEN 'NESA_AA' ELSE 'NESA' END = #NESA_STUDENT_ACHIEVEMENT.STANDARDS
AND NESA.STANDARD_2_CODE = #NESA_STUDENT_ACHIEVEMENT.STANDARD_CODE
AND #NESA_STUDENT_ACHIEVEMENT.STANDARD_TOTAL_COUNT IS NULL
AND NESA.Student_Reason_Not_Scored IN ('SAE','PAR')






---   STANDARD CODE 3

UPDATE #NESA_STUDENT_ACHIEVEMENT
SET STANDARD_TOTAL_COUNT =  Standard_3_Number_of_Operational_MC_Items,
	STANDARD_CORRECT_COUNT = Standard_3_Raw_Score,
	STANDARD_CORRECT_PERCENT = CASE WHEN Standard_3_Number_of_Operational_MC_Items = 0 THEN '0'
							        ELSE ((CAST(Standard_3_Raw_Score AS FLOAT))/Standard_3_Number_of_Operational_MC_Items) END
FROM [NESA].[dbo].[NESA_20112012_PRE_REPORTING_DATA] AS NESA
WHERE LEFT((LTRIM(NESA.DISTRICT_CODE)),2) + '-' + SUBSTRING((LTRIM(NESA.DISTRICT_CODE)),3,4) = #NESA_STUDENT_ACHIEVEMENT.DISTRICT_CODE
AND RIGHT((RTRIM(NESA.SCHOOL_CODE)),3) = #NESA_STUDENT_ACHIEVEMENT.SCHOOL_CODE
AND NESA.NSSRS = #NESA_STUDENT_ACHIEVEMENT.NDE_STUDENT_ID
AND CASE WHEN NESA.SUBJECT IN (3,4) THEN 'M'
		 WHEN NESA.SUBJECT IN (5,6) THEN 'S' END = #NESA_STUDENT_ACHIEVEMENT.SUBJECT
AND CASE WHEN NESA.SUBJECT IN (4,6) THEN 'NESA_AA' ELSE 'NESA' END = #NESA_STUDENT_ACHIEVEMENT.STANDARDS
AND NESA.STANDARD_3_CODE = #NESA_STUDENT_ACHIEVEMENT.STANDARD_CODE
AND #NESA_STUDENT_ACHIEVEMENT.STANDARD_TOTAL_COUNT IS NULL
AND NESA.Student_Reason_Not_Scored IN ('SAE','PAR')
AND NESA.SUBJECT IN (3,4,5,6)






---   STANDARD CODE 4

UPDATE #NESA_STUDENT_ACHIEVEMENT
SET STANDARD_TOTAL_COUNT =  Standard_4_Number_of_Operational_MC_Items,
	STANDARD_CORRECT_COUNT = Standard_4_Raw_Score,
	STANDARD_CORRECT_PERCENT = CASE WHEN Standard_4_Number_of_Operational_MC_Items = 0 THEN '0'
							        ELSE ((CAST(Standard_4_Raw_Score AS FLOAT))/Standard_4_Number_of_Operational_MC_Items) END
FROM [NESA].[dbo].[NESA_20112012_PRE_REPORTING_DATA] AS NESA
WHERE LEFT((LTRIM(NESA.DISTRICT_CODE)),2) + '-' + SUBSTRING((LTRIM(NESA.DISTRICT_CODE)),3,4) = #NESA_STUDENT_ACHIEVEMENT.DISTRICT_CODE
AND RIGHT((RTRIM(NESA.SCHOOL_CODE)),3) = #NESA_STUDENT_ACHIEVEMENT.SCHOOL_CODE
AND NESA.NSSRS = #NESA_STUDENT_ACHIEVEMENT.NDE_STUDENT_ID
AND CASE WHEN NESA.SUBJECT IN (3,4) THEN 'M'
		 WHEN NESA.SUBJECT IN (5,6) THEN 'S' END = #NESA_STUDENT_ACHIEVEMENT.SUBJECT
AND CASE WHEN NESA.SUBJECT IN (4,6) THEN 'NESA_AA' ELSE 'NESA' END = #NESA_STUDENT_ACHIEVEMENT.STANDARDS
AND NESA.STANDARD_4_CODE = #NESA_STUDENT_ACHIEVEMENT.STANDARD_CODE
AND #NESA_STUDENT_ACHIEVEMENT.STANDARD_TOTAL_COUNT IS NULL
AND NESA.Student_Reason_Not_Scored IN ('SAE','PAR')
AND NESA.SUBJECT IN (3,4,5,6)




DELETE FROM #NESA_STUDENT_ACHIEVEMENT
WHERE SUBJECT IS NULL




/*********  VERY IMPORTANT!!!!!!!!!!!!!!!    ********/
/*  THE STUDENT ACHIEVEMENT TABLE IS CURRENTLY SET AT ....
	IGNORE_DUP_KEY = ON
	NEED TO VERIFY THE DUPLICATES LOST ARE OKAY TO DROP
	ON THE FILE FILE.                 */

/*  FINAL OUTPUT FOR NESA STUDENT ACHIEVEMENT TABLE  */


DELETE  NESA_STUDENT_ACHIEVEMENT
WHERE   SCHOOL_YEAR = CONVERT(CHAR(10),@SCHOOL_YEAR,126) 
AND SUBJECT IN ('R','M','S')


INSERT INTO dbo.NESA_STUDENT_ACHIEVEMENT
SELECT
DATAYEARS,								
DISTRICT_CODE,
SCHOOL_CODE,
NDE_STUDENT_ID,
STANDARDS,
SUBJECT,
GRADE_LEVEL,
STANDARD_CODE,
SCHOOL_YEAR = CONVERT(CHAR(10),SCHOOL_YEAR,126),
STANDARD_TOTAL_COUNT,
STANDARD_CORRECT_COUNT,
STANDARD_CORRECT_PERCENT
FROM #NESA_STUDENT_ACHIEVEMENT


DROP TABLE  #NESA_STUDENT_ACHIEVEMENT
