USE [STG_MART_NDE]
GO
/****** Object:  StoredProcedure [dbo].[rptGET_NESA_MATH_ROSTER]    Script Date: 1/17/2017 2:06:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[rptGET_NESA_MATH_ROSTER]
@SCHOOL_YEAR DATETIME,
@DISTRICT_CODE VARCHAR(7)


AS

CREATE TABLE #RETURN_RESULTS
(
	DISTRICT_NAME VARCHAR(75)
	, DISTRICT_CODE CHAR(7)
	, LOCATION_NAME VARCHAR(75)
	, LOCATION_ID CHAR(3)
	, FIRST_NAME VARCHAR(75)
	, LAST_NAME VARCHAR(75)
	, MIDDLE_INITIAL CHAR(1)
	, GRADE_LEVEL CHAR(2)
	, NDE_STUDENT_IDENTIFIER CHAR(10)
	, LOCAL_STUDENT_ID VARCHAR(25)
	, GENDER CHAR(1)
	, ETHNIC_CODE CHAR(2)
	, SPED504 VARCHAR(3)
	, SPED VARCHAR(3)
	, ELL VARCHAR(3)
	, DISTRICT_FAY VARCHAR(3)
	, SCHOOL_FAY VARCHAR(3)
	, SCHOOL_YEAR DATETIME
)


/*
DECLARE @SCHOOL_YEAR DATETIME,
		@DISTRICT_CODE VARCHAR(7)
SET @SCHOOL_YEAR = '2011-06-30'
SET @DISTRICT_CODE = '55-0001'
*/


IF @SCHOOL_YEAR < '2011-06-30'
	BEGIN
	 INSERT INTO #RETURN_RESULTS
		(DISTRICT_NAME
		, DISTRICT_CODE
		, LOCATION_NAME
		, LOCATION_ID
		, FIRST_NAME
		, LAST_NAME
		, MIDDLE_INITIAL
		, GRADE_LEVEL
		, NDE_STUDENT_IDENTIFIER
		, LOCAL_STUDENT_ID
		, GENDER
		, ETHNIC_CODE
		, SPED504
		, SPED
		, ELL
		, DISTRICT_FAY
		, SCHOOL_FAY
		, SCHOOL_YEAR)
	SELECT 
		DISTRICT_NAME = ''
		, DISTRICT_CODE = ''
		, LOCATION_NAME = ''
		, LOCATION_ID = ''
		, FIRST_NAME = ''
		, LAST_NAME = ''
		, MIDDLE_INITIAL = ''
		, GRADE_LEVEL = ''
		, NDE_STUDENT_IDENTIFIER = ''
		, LOCAL_STUDENT_ID = ''
		, GENDER = ''
		, ETHNIC_CODE = ''
		, SPED504 = ''
		, SPED = ''
		, ELL = ''
		, DISTRICT_FAY = ''
		, SCHOOL_FAY = ''
		, SCHOOL_YEAR = ''
	
	END

DECLARE @SNAPSHOT_DATE DATETIME
SET @SNAPSHOT_DATE  = CAST((YEAR(@SCHOOL_YEAR)-1) AS VARCHAR(4)) + '-10-01'

DECLARE	@NESA_DISTRICT_CODE CHAR(9)
SET @NESA_DISTRICT_CODE = LEFT(@DISTRICT_CODE,2)+RIGHT(@DISTRICT_CODE,4)+'000'


DECLARE @WINDOW_OPEN VARCHAR(10)
SET @WINDOW_OPEN = CAST(YEAR(@SCHOOL_YEAR) AS VARCHAR) + '-03-26'  --- NESA-WRITING WINDOW OPENS 3-26-2012

DECLARE @WINDOW_CLOSE VARCHAR(10)
SET @WINDOW_CLOSE = CAST(YEAR(@SCHOOL_YEAR) AS VARCHAR) + '-05-09'  --- NESA-WRITING WINDOW CLOSES 5-4-2012


DECLARE	@DISTRICT_KEY INT
SELECT  @DISTRICT_KEY = DISTRICT_KEY
FROM    STG_MART.SCHOLWHS.DISTRICT
WHERE   DISTRICT_CODE = @DISTRICT_CODE



IF @SCHOOL_YEAR = '2011-06-30'
BEGIN


SELECT *
INTO #SELECT_DISTRICT
FROM [NESA].[dbo].[NESA_PRE_REPORTING_DATA_ROSTER_REVIEW]
WHERE DISTRICT_CODE = @NESA_DISTRICT_CODE AND
	 [YEAR] = YEAR(@SCHOOL_YEAR) AND
	 [SUBJECT] = 'M'





SELECT DISTINCT
	SCHOOL_YEAR = @SCHOOL_YEAR,
	STUDENT.STUDENT_KEY,
	STUDENT.DISTRICT_KEY,
	STUDENT.LOCATION_KEY,
    LOCATION_ID = RIGHT((RTRIM(SCHOOL_CODE)),3),
    LOCATION_NAME = '*** THIS LOCATION CODE IS NOT VALID *** ',
	STUDENT_FIRST_NM,
	STUDENT_LAST_NM,
	STUDENT_MID_INIT,
	STUDENT_ID_ALT,
	STUDENT_GENDER_CD,
	GRADELVL = MATH.GRADE,
	GRADE = '     ',
	DISTRICT_FAY = '2',
	SCHOOL_FAY = '2',
	ETHNIC_CODE = RACE.REPORTING_RACE_CODE,
	PLAN_504 = CASE WHEN STUDENT.SCHOOL_YEAR >= '2015-06-30' THEN STUDENT.ADA_STATUS_DESC ELSE
				STUDENT.PLAN_504 END,
	SPECIAL_ED_CODE = '2',
	LEP_ELIGIBIL_CODE,
	STATECHILDID = MATH.NSSRS
INTO #STUDENT_LIST_2011
FROM #SELECT_DISTRICT AS MATH
LEFT JOIN STG_MART.SCHOLWHS.STUDENT AS STUDENT ON 
        STUDENT.SCHOOL_YEAR = @SCHOOL_YEAR AND
        MATH.[YEAR] = SUBSTRING(CONVERT(CHAR(10),STUDENT.SCHOOL_YEAR,126),1,4) AND
        STUDENT.DISTRICT_KEY = @DISTRICT_KEY AND
        MATH.DISTRICT_CODE = @NESA_DISTRICT_CODE AND
        '31' + LEFT((LTRIM(MATH.DISTRICT_CODE)),6) = STUDENT.DISTRICT_KEY AND
        MATH.NSSRS = STUDENT.STUDENT_ID
LEFT JOIN STG_MART_NDE.dbo.REPORTING_RACE_LOOKUP as RACE ON
        STUDENT.RPTG_RACE_ETHNICITY_DESC = RACE.RPTG_RACE_ETHNICITY_DESC
LEFT JOIN STG_MART.SCHOLWHS.SPECIAL_ED_SNAP AS SPED ON
		STUDENT.STUDENT_KEY = SPED.STUDENT_KEY AND
		STUDENT.SCHOOL_YEAR = SPED.SCHOOL_YEAR AND
		SPED.SNAPSHOT_DATE = @SCHOOL_YEAR
WHERE 	MATH.DISTRICT_CODE = @NESA_DISTRICT_CODE





/*****  UPDATE DATE SPECIAL EDUCATION CODE    ******/

UPDATE #STUDENT_LIST_2011
SET SPECIAL_ED_CODE = '1'
FROM #STUDENT_LIST_2011 AS D
WHERE D.STUDENT_KEY IN (SELECT A.STUDENT_KEY
                        FROM #STUDENT_LIST_2011 AS A
                        INNER JOIN NDESQL04.STG_MART.SCHOLWHS.STUDENT AS B ON
                              A.STUDENT_KEY = B.STUDENT_KEY
                        INNER JOIN NDESQL04.STG_MART.SCHOLWHS.SPECIAL_ED_SNAP as C ON
                              A.STUDENT_KEY = C.STUDENT_KEY 
                        WHERE C.PRIM_DISABIL_CD <> '00' AND
                        (C.EXIT_DATE IS NULL OR C.EXIT_DATE >= '2011-03-28') AND
                        A.SCHOOL_YEAR = @SCHOOL_YEAR AND
                        C.SNAPSHOT_DATE = A.SCHOOL_YEAR)	





/*  DETERMINE DISTRICT_FAY USING OCTOBER SNAPSHOT  */
UPDATE  #STUDENT_LIST_2011
SET     DISTRICT_FAY = '1'
FROM    #STUDENT_LIST_2011 AS NESA
INNER JOIN  STG_MART.SCHOLWHS.STUD_SNAPSHOT AS SNAP ON
            SNAP.SCHOOL_YEAR = NESA.SCHOOL_YEAR AND
            SNAP.SNAPSHOT_DATE = @SNAPSHOT_DATE AND
            SNAP.DISTRICT_KEY = NESA.DISTRICT_KEY AND
            SNAP.STUDENT_KEY = NESA.STUDENT_KEY
            
            
/* ASSIGN SCHOOL NAME IF LOCATION_ID IS VALID */
UPDATE #STUDENT_LIST_2011
SET LOCATION_NAME = LOCATION.LOCATION_NAME
FROM #STUDENT_LIST_2011
LEFT JOIN STG_MART.SCHOLWHS.LOCATION AS LOCATION ON
        LOCATION.DISTRICT_KEY = @DISTRICT_KEY AND
		#STUDENT_LIST_2011.LOCATION_ID = LOCATION.LOCATION_ID


/*  DETERMINE SCHOOL_FAY USING OCTOBER SNAPSHOT  */
UPDATE  #STUDENT_LIST_2011
SET     SCHOOL_FAY = '1'
FROM	#STUDENT_LIST_2011 AS NESA
INNER JOIN  STG_MART.SCHOLWHS.STUD_SNAPSHOT AS SNAP ON
            SNAP.SCHOOL_YEAR = NESA.SCHOOL_YEAR AND
            SNAP.SNAPSHOT_DATE = @SNAPSHOT_DATE AND
            SNAP.DISTRICT_KEY = NESA.DISTRICT_KEY AND
            SNAP.STUDENT_KEY = NESA.STUDENT_KEY AND
            SNAP.LOCATION_KEY = NESA.LOCATION_KEY
WHERE NESA.STUDENT_KEY NOT IN (SELECT DISTINCT SNAP.STUDENT_KEY
								FROM STG_MART.SCHOLWHS.PROGRAMS_FACT AS FACT
								INNER JOIN STG_MART.SCHOLWHS.PROGRAMS_CODE AS CODE ON
									FACT.PROGRAMS_KEY=CODE.PROGRAMS_KEY
								INNER JOIN STG_MART.SCHOLWHS.STUD_SNAPSHOT AS SNAP ON
									FACT.SCHOOL_YEAR = SNAP.SCHOOL_YEAR AND
									SNAP.SNAPSHOT_DATE = @SNAPSHOT_DATE AND
									FACT.DISTRICT_KEY = SNAP.DISTRICT_KEY AND
									FACT.STUDENT_KEY = SNAP.STUDENT_KEY
								WHERE FACT.SCHOOL_YEAR = @SCHOOL_YEAR AND 
									CODE.PROGRAMS_CODE = 'INTERIM')


/* ASSIGN NAME ON DRC NESA MATH FILE IF STUDENT NOT FOUND IN NSSRS FOR THE DISTRICT */
UPDATE #STUDENT_LIST_2011
SET STUDENT_FIRST_NM = UPPER(STUDENT.FIRST_NAME),
	STUDENT_LAST_NM = UPPER(STUDENT.LAST_NAME),
	STUDENT_MID_INIT = UPPER(STUDENT.MIDDLE_INITIAL),
	DISTRICT_KEY = '31' + LEFT((LTRIM(STUDENT.DISTRICT_CODE)),6)
FROM #STUDENT_LIST_2011 AS NESA
INNER JOIN #SELECT_DISTRICT AS STUDENT ON
        NESA.SCHOOL_YEAR = @SCHOOL_YEAR AND
        '31' + LEFT((LTRIM(STUDENT.DISTRICT_CODE)),6) = @DISTRICT_KEY AND
        NESA.STATECHILDID = STUDENT.NSSRS AND
		NESA.STUDENT_KEY IS NULL
		

INSERT INTO #RETURN_RESULTS
	(DISTRICT_NAME
	, DISTRICT_CODE
	, LOCATION_NAME
	, LOCATION_ID
	, FIRST_NAME
	, LAST_NAME
	, MIDDLE_INITIAL
	, GRADE_LEVEL
	, NDE_STUDENT_IDENTIFIER
	, LOCAL_STUDENT_ID
	, GENDER
	, ETHNIC_CODE
	, SPED504
	, SPED
	, ELL
	, DISTRICT_FAY
	, SCHOOL_FAY
	, SCHOOL_YEAR)
SELECT
	DISTRICT_NAME = DISTRICT.DISTRICT_NAME,
	DISTRICT_CODE = DISTRICT.DISTRICT_CODE,
	LOCATION_NAME = STUDENT.LOCATION_NAME,
	LOCATION_ID = STUDENT.LOCATION_ID,	
	FIRST_NAME = UPPER(STUDENT.STUDENT_FIRST_NM),
	LAST_NAME = UPPER(STUDENT.STUDENT_LAST_NM),
	MIDDLE_INITIAL = UPPER(STUDENT.STUDENT_MID_INIT),
	GRADE_LEVEL = STUDENT.GRADELVL,
	NDE_STUDENT_IDENTIFIER = STUDENT.STATECHILDID,
	LOCAL_STUDENT_ID = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE STUDENT.STUDENT_ID_ALT END),
	GENDER = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE STUDENT.STUDENT_GENDER_CD END),
	ETHNIC_CODE = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE STUDENT.ETHNIC_CODE END),
	SPED504 = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE PLAN_504 END),
	SPED = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE (CASE WHEN SPECIAL_ED_CODE = '1' THEN 'Yes' ELSE 'No' END) END),
	ELL = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE (CASE WHEN LEP_ELIGIBIL_CODE = '1' THEN 'Yes' ELSE 'No' END) END),
	DISTRICT_FAY = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE (CASE WHEN DISTRICT_FAY = '1' THEN 'Yes' ELSE 'No' END) END),
	SCHOOL_FAY = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE (CASE WHEN SCHOOL_FAY = '1' THEN 'Yes' ELSE 'No' END) END),
	SCHOOL_YEAR = STUDENT.SCHOOL_YEAR
FROM #STUDENT_LIST_2011 AS STUDENT
LEFT JOIN STG_MART.SCHOLWHS.DISTRICT AS DISTRICT ON
		DISTRICT.DISTRICT_KEY = STUDENT.DISTRICT_KEY AND
		STUDENT.SCHOOL_YEAR = @SCHOOL_YEAR AND
		DISTRICT.DISTRICT_KEY = @DISTRICT_KEY
ORDER BY STUDENT.LOCATION_NAME

END




IF @SCHOOL_YEAR = '2012-06-30'
BEGIN


SELECT *
INTO #SELECT_DISTRICT_2012
FROM [NESA].[dbo].[NESA_PRE_REPORTING_DATA_ROSTER_REVIEW]
WHERE DISTRICT_CODE = @NESA_DISTRICT_CODE AND
	 [YEAR] = YEAR(@SCHOOL_YEAR) AND
	 [SUBJECT] = 'M'





SELECT DISTINCT
	SCHOOL_YEAR = @SCHOOL_YEAR,
	STUDENT.STUDENT_KEY,
	STUDENT.DISTRICT_KEY,
	STUDENT.LOCATION_KEY,
    LOCATION_ID = RIGHT((RTRIM(SCHOOL_CODE)),3),
    LOCATION_NAME = '*** THIS LOCATION CODE IS NOT VALID *** ',
	STUDENT_FIRST_NM,
	STUDENT_LAST_NM,
	STUDENT_MID_INIT,
	STUDENT_ID_ALT,
	STUDENT_GENDER_CD,
	GRADELVL = MATH.GRADE,
	GRADE = '     ',
	DISTRICT_FAY = '2',
	SCHOOL_FAY = '2',
	ETHNIC_CODE = RACE.REPORTING_RACE_CODE,
	PLAN_504 = CASE WHEN STUDENT.SCHOOL_YEAR >= '2015-06-30' THEN STUDENT.ADA_STATUS_DESC ELSE
				STUDENT.PLAN_504 END,
	SPECIAL_ED_CODE = '2',
	LEP_ELIGIBIL_CODE,
	STATECHILDID = MATH.NSSRS
INTO #STUDENT_LIST_2012
FROM #SELECT_DISTRICT_2012 AS MATH
LEFT JOIN STG_MART.SCHOLWHS.STUDENT AS STUDENT ON 
        STUDENT.SCHOOL_YEAR = @SCHOOL_YEAR AND
        MATH.[YEAR] = SUBSTRING(CONVERT(CHAR(10),STUDENT.SCHOOL_YEAR,126),1,4) AND
        STUDENT.DISTRICT_KEY = @DISTRICT_KEY AND
        MATH.DISTRICT_CODE = @NESA_DISTRICT_CODE AND
        '31' + LEFT((LTRIM(MATH.DISTRICT_CODE)),6) = STUDENT.DISTRICT_KEY AND
        MATH.NSSRS = STUDENT.STUDENT_ID
LEFT JOIN STG_MART_NDE.dbo.REPORTING_RACE_LOOKUP as RACE ON
        STUDENT.RPTG_RACE_ETHNICITY_DESC = RACE.RPTG_RACE_ETHNICITY_DESC
LEFT JOIN STG_MART.SCHOLWHS.SPECIAL_ED_SNAP AS SPED ON
		STUDENT.STUDENT_KEY = SPED.STUDENT_KEY AND
		STUDENT.SCHOOL_YEAR = SPED.SCHOOL_YEAR AND
		SPED.SNAPSHOT_DATE = @SCHOOL_YEAR
WHERE 	MATH.DISTRICT_CODE = @NESA_DISTRICT_CODE





/*****  UPDATE DATE SPECIAL EDUCATION CODE    ******/
UPDATE #STUDENT_LIST_2012
SET SPECIAL_ED_CODE = '1'
FROM #STUDENT_LIST_2012 AS NESA
INNER JOIN  STG_MART.SCHOLWHS.SPECIAL_ED_SNAP AS SPED ON
			NESA.STUDENT_KEY = SPED.STUDENT_KEY AND
			NESA.SCHOOL_YEAR = SPED.SCHOOL_YEAR AND
			SPED.SNAPSHOT_DATE = @SCHOOL_YEAR
WHERE EXIT_DATE is null OR EXIT_DATE >= @WINDOW_OPEN OR ENTRY_DATE <= @WINDOW_CLOSE	






/*  DETERMINE DISTRICT_FAY USING OCTOBER SNAPSHOT  */
UPDATE  #STUDENT_LIST_2012
SET     DISTRICT_FAY = '1'
FROM    #STUDENT_LIST_2012 AS NESA
INNER JOIN  STG_MART.SCHOLWHS.STUD_SNAPSHOT AS SNAP ON
            SNAP.SCHOOL_YEAR = NESA.SCHOOL_YEAR AND
            SNAP.SNAPSHOT_DATE = @SNAPSHOT_DATE AND
            SNAP.DISTRICT_KEY = NESA.DISTRICT_KEY AND
            SNAP.STUDENT_KEY = NESA.STUDENT_KEY
            
            
/* ASSIGN SCHOOL NAME IF LOCATION_ID IS VALID */
UPDATE #STUDENT_LIST_2012
SET LOCATION_NAME = LOCATION.LOCATION_NAME
FROM #STUDENT_LIST_2012
LEFT JOIN STG_MART.SCHOLWHS.LOCATION AS LOCATION ON
        LOCATION.DISTRICT_KEY = @DISTRICT_KEY AND
		#STUDENT_LIST_2012.LOCATION_ID = LOCATION.LOCATION_ID


/*  DETERMINE SCHOOL_FAY USING OCTOBER SNAPSHOT  */
UPDATE  #STUDENT_LIST_2012
SET     SCHOOL_FAY = '1'
FROM	#STUDENT_LIST_2012 AS NESA
INNER JOIN  STG_MART.SCHOLWHS.STUD_SNAPSHOT AS SNAP ON
            SNAP.SCHOOL_YEAR = NESA.SCHOOL_YEAR AND
            SNAP.SNAPSHOT_DATE = @SNAPSHOT_DATE AND
            SNAP.DISTRICT_KEY = NESA.DISTRICT_KEY AND
            SNAP.STUDENT_KEY = NESA.STUDENT_KEY AND
            SNAP.LOCATION_KEY = NESA.LOCATION_KEY
WHERE NESA.STUDENT_KEY NOT IN (SELECT DISTINCT SNAP.STUDENT_KEY
								FROM STG_MART.SCHOLWHS.PROGRAMS_FACT AS FACT
								INNER JOIN STG_MART.SCHOLWHS.PROGRAMS_CODE AS CODE ON
									FACT.PROGRAMS_KEY=CODE.PROGRAMS_KEY
								INNER JOIN STG_MART.SCHOLWHS.STUD_SNAPSHOT AS SNAP ON
									FACT.SCHOOL_YEAR = SNAP.SCHOOL_YEAR AND
									SNAP.SNAPSHOT_DATE = @SNAPSHOT_DATE AND
									FACT.DISTRICT_KEY = SNAP.DISTRICT_KEY AND
									FACT.STUDENT_KEY = SNAP.STUDENT_KEY
								WHERE FACT.SCHOOL_YEAR = @SCHOOL_YEAR AND 
									CODE.PROGRAMS_CODE = 'INTERIM')


/* ASSIGN NAME ON DRC NESA MATH FILE IF STUDENT NOT FOUND IN NSSRS FOR THE DISTRICT */
UPDATE #STUDENT_LIST_2012
SET STUDENT_FIRST_NM = UPPER(STUDENT.FIRST_NAME),
	STUDENT_LAST_NM = UPPER(STUDENT.LAST_NAME),
	STUDENT_MID_INIT = UPPER(STUDENT.MIDDLE_INITIAL),
	DISTRICT_KEY = '31' + LEFT((LTRIM(STUDENT.DISTRICT_CODE)),6)
FROM #STUDENT_LIST_2012 AS NESA
INNER JOIN #SELECT_DISTRICT_2012 AS STUDENT ON
        NESA.SCHOOL_YEAR = @SCHOOL_YEAR AND
        '31' + LEFT((LTRIM(STUDENT.DISTRICT_CODE)),6) = @DISTRICT_KEY AND
        NESA.STATECHILDID = STUDENT.NSSRS AND
		NESA.STUDENT_KEY IS NULL
		
INSERT INTO #RETURN_RESULTS
	(DISTRICT_NAME
	, DISTRICT_CODE
	, LOCATION_NAME
	, LOCATION_ID
	, FIRST_NAME
	, LAST_NAME
	, MIDDLE_INITIAL
	, GRADE_LEVEL
	, NDE_STUDENT_IDENTIFIER
	, LOCAL_STUDENT_ID
	, GENDER
	, ETHNIC_CODE
	, SPED504
	, SPED
	, ELL
	, DISTRICT_FAY
	, SCHOOL_FAY
	, SCHOOL_YEAR)
SELECT
	DISTRICT_NAME = DISTRICT.DISTRICT_NAME,
	DISTRICT_CODE = DISTRICT.DISTRICT_CODE,
	LOCATION_NAME = STUDENT.LOCATION_NAME,
	LOCATION_ID = STUDENT.LOCATION_ID,	
	FIRST_NAME = UPPER(STUDENT.STUDENT_FIRST_NM),
	LAST_NAME = UPPER(STUDENT.STUDENT_LAST_NM),
	MIDDLE_INITIAL = UPPER(STUDENT.STUDENT_MID_INIT),
	GRADE_LEVEL = STUDENT.GRADELVL,
	NDE_STUDENT_IDENTIFIER = STUDENT.STATECHILDID,
	LOCAL_STUDENT_ID = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE STUDENT.STUDENT_ID_ALT END),
	GENDER = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE STUDENT.STUDENT_GENDER_CD END),
	ETHNIC_CODE = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE STUDENT.ETHNIC_CODE END),
	SPED504 = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE PLAN_504 END),
	SPED = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE (CASE WHEN SPECIAL_ED_CODE = '1' THEN 'Yes' ELSE 'No' END) END),
	ELL = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE (CASE WHEN LEP_ELIGIBIL_CODE = '1' THEN 'Yes' ELSE 'No' END) END),
	DISTRICT_FAY = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE (CASE WHEN DISTRICT_FAY = '1' THEN 'Yes' ELSE 'No' END) END),
	SCHOOL_FAY = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE (CASE WHEN SCHOOL_FAY = '1' THEN 'Yes' ELSE 'No' END) END),
	SCHOOL_YEAR = STUDENT.SCHOOL_YEAR
FROM #STUDENT_LIST_2012 AS STUDENT
LEFT JOIN STG_MART.SCHOLWHS.DISTRICT AS DISTRICT ON
		DISTRICT.DISTRICT_KEY = STUDENT.DISTRICT_KEY AND
		STUDENT.SCHOOL_YEAR = @SCHOOL_YEAR AND
		DISTRICT.DISTRICT_KEY = @DISTRICT_KEY
ORDER BY STUDENT.LOCATION_NAME

END


--BHM - 07/18/2013
--ADDING CODE FOR 20122013

IF @SCHOOL_YEAR = '2013-06-30'
BEGIN


DECLARE @WINDOW_OPEN_2013 VARCHAR(10)
SET @WINDOW_OPEN_2013 = CAST(YEAR(@SCHOOL_YEAR) AS VARCHAR) + '-03-25'  --- NESA-WRITING WINDOW OPENS 3-25-2013

DECLARE @WINDOW_CLOSE_2013 VARCHAR(10)
SET @WINDOW_CLOSE_2013 = CAST(YEAR(@SCHOOL_YEAR) AS VARCHAR) + '-05-03'  --- NESA-WRITING WINDOW CLOSES 5-3-2013


SELECT *
INTO #SELECT_DISTRICT_2013
FROM [NESA].[dbo].[NESA_PRE_REPORTING_DATA_ROSTER_REVIEW]
WHERE DISTRICT_CODE = @NESA_DISTRICT_CODE AND
	 [YEAR] = YEAR(@SCHOOL_YEAR) AND
	 [SUBJECT] = 'M'


SELECT DISTINCT
	SCHOOL_YEAR = @SCHOOL_YEAR,
	STUDENT.STUDENT_KEY,
	STUDENT.DISTRICT_KEY,
	STUDENT.LOCATION_KEY,
    LOCATION_ID = RIGHT((RTRIM(SCHOOL_CODE)),3),
    LOCATION_NAME = '*** THIS LOCATION CODE IS NOT VALID *** ',
	STUDENT_FIRST_NM,
	STUDENT_LAST_NM,
	STUDENT_MID_INIT,
	STUDENT_ID_ALT,
	STUDENT_GENDER_CD,
	GRADELVL = MATH.GRADE,
	GRADE = '     ',
	DISTRICT_FAY = '2',
	SCHOOL_FAY = '2',
	ETHNIC_CODE = RACE.REPORTING_RACE_CODE,
	PLAN_504 = CASE WHEN STUDENT.SCHOOL_YEAR >= '2015-06-30' THEN STUDENT.ADA_STATUS_DESC ELSE
				STUDENT.PLAN_504 END,
	SPECIAL_ED_CODE = '2',
	LEP_ELIGIBIL_CODE,
	STATECHILDID = MATH.NSSRS
INTO #STUDENT_LIST_2013
FROM #SELECT_DISTRICT_2013 AS MATH
LEFT JOIN STG_MART.SCHOLWHS.STUDENT AS STUDENT ON 
        STUDENT.SCHOOL_YEAR = @SCHOOL_YEAR AND
        MATH.[YEAR] = SUBSTRING(CONVERT(CHAR(10),STUDENT.SCHOOL_YEAR,126),1,4) AND
        STUDENT.DISTRICT_KEY = @DISTRICT_KEY AND
        MATH.DISTRICT_CODE = @NESA_DISTRICT_CODE AND
        '31' + LEFT((LTRIM(MATH.DISTRICT_CODE)),6) = STUDENT.DISTRICT_KEY AND
        MATH.NSSRS = STUDENT.STUDENT_ID
LEFT JOIN STG_MART_NDE.dbo.REPORTING_RACE_LOOKUP as RACE ON
        STUDENT.RPTG_RACE_ETHNICITY_DESC = RACE.RPTG_RACE_ETHNICITY_DESC
LEFT JOIN STG_MART.SCHOLWHS.SPECIAL_ED_SNAP AS SPED ON
		STUDENT.STUDENT_KEY = SPED.STUDENT_KEY AND
		STUDENT.SCHOOL_YEAR = SPED.SCHOOL_YEAR AND
		SPED.SNAPSHOT_DATE = @SCHOOL_YEAR
WHERE 	MATH.DISTRICT_CODE = @NESA_DISTRICT_CODE



/*****  UPDATE DATE SPECIAL EDUCATION CODE    ******/
UPDATE #STUDENT_LIST_2013
SET SPECIAL_ED_CODE = '1'
FROM #STUDENT_LIST_2013 AS NESA
INNER JOIN  STG_MART.SCHOLWHS.SPECIAL_ED_SNAP AS SPED ON
			NESA.STUDENT_KEY = SPED.STUDENT_KEY AND
			NESA.SCHOOL_YEAR = SPED.SCHOOL_YEAR AND
			SPED.SNAPSHOT_DATE = @SCHOOL_YEAR
--2013-07-19 BHM change sped to be consistant with indicators table
WHERE PRIM_DISABIL_CD <> '00' AND
((EXIT_DATE >= @WINDOW_OPEN_2013 OR EXIT_DATE is null) AND ENTRY_DATE <= @WINDOW_CLOSE_2013)
--WHERE EXIT_DATE is null OR EXIT_DATE >= @WINDOW_OPEN_2013 OR ENTRY_DATE <= @WINDOW_CLOSE_2013	


/*  DETERMINE DISTRICT_FAY USING OCTOBER SNAPSHOT  */
UPDATE  #STUDENT_LIST_2013
SET     DISTRICT_FAY = '1'
FROM    #STUDENT_LIST_2013 AS NESA
INNER JOIN  STG_MART.SCHOLWHS.STUD_SNAPSHOT AS SNAP ON
            SNAP.SCHOOL_YEAR = NESA.SCHOOL_YEAR AND
            SNAP.SNAPSHOT_DATE = @SNAPSHOT_DATE AND
            SNAP.DISTRICT_KEY = NESA.DISTRICT_KEY AND
            SNAP.STUDENT_KEY = NESA.STUDENT_KEY
            
            
/* ASSIGN SCHOOL NAME IF LOCATION_ID IS VALID */
UPDATE #STUDENT_LIST_2013
SET LOCATION_NAME = LOCATION.LOCATION_NAME
FROM #STUDENT_LIST_2013
LEFT JOIN STG_MART.SCHOLWHS.LOCATION AS LOCATION ON
        LOCATION.DISTRICT_KEY = @DISTRICT_KEY AND
		#STUDENT_LIST_2013.LOCATION_ID = LOCATION.LOCATION_ID


/*  DETERMINE SCHOOL_FAY USING OCTOBER SNAPSHOT  */
UPDATE  #STUDENT_LIST_2013
SET     SCHOOL_FAY = '1'
FROM	#STUDENT_LIST_2013 AS NESA
INNER JOIN  STG_MART.SCHOLWHS.STUD_SNAPSHOT AS SNAP ON
            SNAP.SCHOOL_YEAR = NESA.SCHOOL_YEAR AND
            SNAP.SNAPSHOT_DATE = @SNAPSHOT_DATE AND
            SNAP.DISTRICT_KEY = NESA.DISTRICT_KEY AND
            SNAP.STUDENT_KEY = NESA.STUDENT_KEY AND
            SNAP.LOCATION_KEY = NESA.LOCATION_KEY
WHERE NESA.STUDENT_KEY NOT IN (SELECT DISTINCT SNAP.STUDENT_KEY
								FROM STG_MART.SCHOLWHS.PROGRAMS_FACT AS FACT
								INNER JOIN STG_MART.SCHOLWHS.PROGRAMS_CODE AS CODE ON
									FACT.PROGRAMS_KEY=CODE.PROGRAMS_KEY
								INNER JOIN STG_MART.SCHOLWHS.STUD_SNAPSHOT AS SNAP ON
									FACT.SCHOOL_YEAR = SNAP.SCHOOL_YEAR AND
									SNAP.SNAPSHOT_DATE = @SNAPSHOT_DATE AND
									FACT.DISTRICT_KEY = SNAP.DISTRICT_KEY AND
									FACT.STUDENT_KEY = SNAP.STUDENT_KEY
								WHERE FACT.SCHOOL_YEAR = @SCHOOL_YEAR AND 
									CODE.PROGRAMS_CODE = 'INTERIM')


/* ASSIGN NAME ON DRC NESA MATH FILE IF STUDENT NOT FOUND IN NSSRS FOR THE DISTRICT */
UPDATE #STUDENT_LIST_2013
SET STUDENT_FIRST_NM = UPPER(STUDENT.FIRST_NAME),
	STUDENT_LAST_NM = UPPER(STUDENT.LAST_NAME),
	STUDENT_MID_INIT = UPPER(STUDENT.MIDDLE_INITIAL),
	DISTRICT_KEY = '31' + LEFT((LTRIM(STUDENT.DISTRICT_CODE)),6)
FROM #STUDENT_LIST_2013 AS NESA
INNER JOIN #SELECT_DISTRICT_2013 AS STUDENT ON
        NESA.SCHOOL_YEAR = @SCHOOL_YEAR AND
        '31' + LEFT((LTRIM(STUDENT.DISTRICT_CODE)),6) = @DISTRICT_KEY AND
        NESA.STATECHILDID = STUDENT.NSSRS AND
		NESA.STUDENT_KEY IS NULL
		
INSERT INTO #RETURN_RESULTS
	(DISTRICT_NAME
	, DISTRICT_CODE
	, LOCATION_NAME
	, LOCATION_ID
	, FIRST_NAME
	, LAST_NAME
	, MIDDLE_INITIAL
	, GRADE_LEVEL
	, NDE_STUDENT_IDENTIFIER
	, LOCAL_STUDENT_ID
	, GENDER
	, ETHNIC_CODE
	, SPED504
	, SPED
	, ELL
	, DISTRICT_FAY
	, SCHOOL_FAY
	, SCHOOL_YEAR)
SELECT
	DISTRICT_NAME = DISTRICT.DISTRICT_NAME,
	DISTRICT_CODE = DISTRICT.DISTRICT_CODE,
	LOCATION_NAME = STUDENT.LOCATION_NAME,
	LOCATION_ID = STUDENT.LOCATION_ID,	
	FIRST_NAME = UPPER(STUDENT.STUDENT_FIRST_NM),
	LAST_NAME = UPPER(STUDENT.STUDENT_LAST_NM),
	MIDDLE_INITIAL = UPPER(STUDENT.STUDENT_MID_INIT),
	GRADE_LEVEL = STUDENT.GRADELVL,
	NDE_STUDENT_IDENTIFIER = STUDENT.STATECHILDID,
	LOCAL_STUDENT_ID = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE STUDENT.STUDENT_ID_ALT END),
	GENDER = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE STUDENT.STUDENT_GENDER_CD END),
	ETHNIC_CODE = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE STUDENT.ETHNIC_CODE END),
	SPED504 = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE PLAN_504 END),
	SPED = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE (CASE WHEN SPECIAL_ED_CODE = '1' THEN 'Yes' ELSE 'No' END) END),
	ELL = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE (CASE WHEN LEP_ELIGIBIL_CODE = '1' THEN 'Yes' ELSE 'No' END) END),
	DISTRICT_FAY = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE (CASE WHEN DISTRICT_FAY = '1' THEN 'Yes' ELSE 'No' END) END),
	SCHOOL_FAY = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE (CASE WHEN SCHOOL_FAY = '1' THEN 'Yes' ELSE 'No' END) END),
	SCHOOL_YEAR = STUDENT.SCHOOL_YEAR
FROM #STUDENT_LIST_2013 AS STUDENT
LEFT JOIN STG_MART.SCHOLWHS.DISTRICT AS DISTRICT ON
		DISTRICT.DISTRICT_KEY = STUDENT.DISTRICT_KEY AND
		STUDENT.SCHOOL_YEAR = @SCHOOL_YEAR AND
		DISTRICT.DISTRICT_KEY = @DISTRICT_KEY
ORDER BY STUDENT.LOCATION_NAME

END


--BHM - 03/04/2014
--ADDING CODE FOR 20132014

IF @SCHOOL_YEAR = '2014-06-30'
BEGIN


DECLARE @WINDOW_OPEN_2014 VARCHAR(10)
SET @WINDOW_OPEN_2014 = CAST(YEAR(@SCHOOL_YEAR) AS VARCHAR) + '-03-24'  --- NESA-RMS WINDOW OPENS 3-24-2014

DECLARE @WINDOW_CLOSE_2014 VARCHAR(10)
SET @WINDOW_CLOSE_2014 = CAST(YEAR(@SCHOOL_YEAR) AS VARCHAR) + '-05-09'  --- NESA-WRITING WINDOW CLOSES 5-9-2014


SELECT *
INTO #SELECT_DISTRICT_2014
FROM [NESA].[dbo].[NESA_PRE_REPORTING_DATA_ROSTER_REVIEW]
WHERE DISTRICT_CODE = @NESA_DISTRICT_CODE AND
	 [YEAR] = YEAR(@SCHOOL_YEAR) AND
	 [SUBJECT] = 'M'


SELECT DISTINCT
	SCHOOL_YEAR = @SCHOOL_YEAR,
	STUDENT.STUDENT_KEY,
	STUDENT.DISTRICT_KEY,
	STUDENT.LOCATION_KEY,
    LOCATION_ID = RIGHT((RTRIM(SCHOOL_CODE)),3),
    LOCATION_NAME = '*** THIS LOCATION CODE IS NOT VALID *** ',
	STUDENT_FIRST_NM,
	STUDENT_LAST_NM,
	STUDENT_MID_INIT,
	STUDENT_ID_ALT,
	STUDENT_GENDER_CD,
	GRADELVL = MATH.GRADE,
	GRADE = '     ',
	DISTRICT_FAY = '2',
	SCHOOL_FAY = '2',
	ETHNIC_CODE = RACE.REPORTING_RACE_CODE,
	PLAN_504 = CASE WHEN STUDENT.SCHOOL_YEAR >= '2015-06-30' THEN STUDENT.ADA_STATUS_DESC ELSE
				STUDENT.PLAN_504 END,
	SPECIAL_ED_CODE = '2',
	LEP_ELIGIBIL_CODE,
	STATECHILDID = MATH.NSSRS
INTO #STUDENT_LIST_2014
FROM #SELECT_DISTRICT_2014 AS MATH
LEFT JOIN STG_MART.SCHOLWHS.STUDENT AS STUDENT ON 
        STUDENT.SCHOOL_YEAR = @SCHOOL_YEAR AND
        MATH.[YEAR] = SUBSTRING(CONVERT(CHAR(10),STUDENT.SCHOOL_YEAR,126),1,4) AND
        STUDENT.DISTRICT_KEY = @DISTRICT_KEY AND
        MATH.DISTRICT_CODE = @NESA_DISTRICT_CODE AND
        '31' + LEFT((LTRIM(MATH.DISTRICT_CODE)),6) = STUDENT.DISTRICT_KEY AND
        MATH.NSSRS = STUDENT.STUDENT_ID
LEFT JOIN STG_MART_NDE.dbo.REPORTING_RACE_LOOKUP as RACE ON
        STUDENT.RPTG_RACE_ETHNICITY_DESC = RACE.RPTG_RACE_ETHNICITY_DESC
LEFT JOIN STG_MART.SCHOLWHS.SPECIAL_ED_SNAP AS SPED ON
		STUDENT.STUDENT_KEY = SPED.STUDENT_KEY AND
		STUDENT.SCHOOL_YEAR = SPED.SCHOOL_YEAR AND
		SPED.SNAPSHOT_DATE = @SCHOOL_YEAR
WHERE 	MATH.DISTRICT_CODE = @NESA_DISTRICT_CODE



/*****  UPDATE DATE SPECIAL EDUCATION CODE    ******/
UPDATE #STUDENT_LIST_2014
SET SPECIAL_ED_CODE = '1'
FROM #STUDENT_LIST_2014 AS NESA
INNER JOIN  STG_MART.SCHOLWHS.SPECIAL_ED_SNAP AS SPED ON
			NESA.STUDENT_KEY = SPED.STUDENT_KEY AND
			NESA.SCHOOL_YEAR = SPED.SCHOOL_YEAR AND
			SPED.SNAPSHOT_DATE = @SCHOOL_YEAR
--2014-07-19 BHM change sped to be consistant with indicators table
WHERE PRIM_DISABIL_CD <> '00' AND
((EXIT_DATE >= @WINDOW_OPEN_2014 OR EXIT_DATE is null) AND ENTRY_DATE <= @WINDOW_CLOSE_2014)
--WHERE EXIT_DATE is null OR EXIT_DATE >= @WINDOW_OPEN_2014 OR ENTRY_DATE <= @WINDOW_CLOSE_2014	


/*  DETERMINE DISTRICT_FAY USING OCTOBER SNAPSHOT  */
UPDATE  #STUDENT_LIST_2014
SET     DISTRICT_FAY = '1'
FROM    #STUDENT_LIST_2014 AS NESA
INNER JOIN  STG_MART.SCHOLWHS.STUD_SNAPSHOT AS SNAP ON
            SNAP.SCHOOL_YEAR = NESA.SCHOOL_YEAR AND
            SNAP.SNAPSHOT_DATE = @SNAPSHOT_DATE AND
            SNAP.DISTRICT_KEY = NESA.DISTRICT_KEY AND
            SNAP.STUDENT_KEY = NESA.STUDENT_KEY
            
            
/* ASSIGN SCHOOL NAME IF LOCATION_ID IS VALID */
UPDATE #STUDENT_LIST_2014
SET LOCATION_NAME = LOCATION.LOCATION_NAME
FROM #STUDENT_LIST_2014
LEFT JOIN STG_MART.SCHOLWHS.LOCATION AS LOCATION ON
        LOCATION.DISTRICT_KEY = @DISTRICT_KEY AND
		#STUDENT_LIST_2014.LOCATION_ID = LOCATION.LOCATION_ID


/*  DETERMINE SCHOOL_FAY USING OCTOBER SNAPSHOT  */
UPDATE  #STUDENT_LIST_2014
SET     SCHOOL_FAY = '1'
FROM	#STUDENT_LIST_2014 AS NESA
INNER JOIN  STG_MART.SCHOLWHS.STUD_SNAPSHOT AS SNAP ON
            SNAP.SCHOOL_YEAR = NESA.SCHOOL_YEAR AND
            SNAP.SNAPSHOT_DATE = @SNAPSHOT_DATE AND
            SNAP.DISTRICT_KEY = NESA.DISTRICT_KEY AND
            SNAP.STUDENT_KEY = NESA.STUDENT_KEY AND
            SNAP.LOCATION_KEY = NESA.LOCATION_KEY
WHERE NESA.STUDENT_KEY NOT IN (SELECT DISTINCT SNAP.STUDENT_KEY
								FROM STG_MART.SCHOLWHS.PROGRAMS_FACT AS FACT
								INNER JOIN STG_MART.SCHOLWHS.PROGRAMS_CODE AS CODE ON
									FACT.PROGRAMS_KEY=CODE.PROGRAMS_KEY
								INNER JOIN STG_MART.SCHOLWHS.STUD_SNAPSHOT AS SNAP ON
									FACT.SCHOOL_YEAR = SNAP.SCHOOL_YEAR AND
									SNAP.SNAPSHOT_DATE = @SNAPSHOT_DATE AND
									FACT.DISTRICT_KEY = SNAP.DISTRICT_KEY AND
									FACT.STUDENT_KEY = SNAP.STUDENT_KEY
								WHERE FACT.SCHOOL_YEAR = @SCHOOL_YEAR AND 
									CODE.PROGRAMS_CODE = 'INTERIM')


/* ASSIGN NAME ON DRC NESA MATH FILE IF STUDENT NOT FOUND IN NSSRS FOR THE DISTRICT */
UPDATE #STUDENT_LIST_2014
SET STUDENT_FIRST_NM = UPPER(STUDENT.FIRST_NAME),
	STUDENT_LAST_NM = UPPER(STUDENT.LAST_NAME),
	STUDENT_MID_INIT = UPPER(STUDENT.MIDDLE_INITIAL),
	DISTRICT_KEY = '31' + LEFT((LTRIM(STUDENT.DISTRICT_CODE)),6)
FROM #STUDENT_LIST_2014 AS NESA
INNER JOIN #SELECT_DISTRICT_2014 AS STUDENT ON
        NESA.SCHOOL_YEAR = @SCHOOL_YEAR AND
        '31' + LEFT((LTRIM(STUDENT.DISTRICT_CODE)),6) = @DISTRICT_KEY AND
        NESA.STATECHILDID = STUDENT.NSSRS AND
		NESA.STUDENT_KEY IS NULL
		
INSERT INTO #RETURN_RESULTS
	(DISTRICT_NAME
	, DISTRICT_CODE
	, LOCATION_NAME
	, LOCATION_ID
	, FIRST_NAME
	, LAST_NAME
	, MIDDLE_INITIAL
	, GRADE_LEVEL
	, NDE_STUDENT_IDENTIFIER
	, LOCAL_STUDENT_ID
	, GENDER
	, ETHNIC_CODE
	, SPED504
	, SPED
	, ELL
	, DISTRICT_FAY
	, SCHOOL_FAY
	, SCHOOL_YEAR)
SELECT
	DISTRICT_NAME = DISTRICT.DISTRICT_NAME,
	DISTRICT_CODE = DISTRICT.DISTRICT_CODE,
	LOCATION_NAME = STUDENT.LOCATION_NAME,
	LOCATION_ID = STUDENT.LOCATION_ID,	
	FIRST_NAME = UPPER(STUDENT.STUDENT_FIRST_NM),
	LAST_NAME = UPPER(STUDENT.STUDENT_LAST_NM),
	MIDDLE_INITIAL = UPPER(STUDENT.STUDENT_MID_INIT),
	GRADE_LEVEL = STUDENT.GRADELVL,
	NDE_STUDENT_IDENTIFIER = STUDENT.STATECHILDID,
	LOCAL_STUDENT_ID = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE STUDENT.STUDENT_ID_ALT END),
	GENDER = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE STUDENT.STUDENT_GENDER_CD END),
	ETHNIC_CODE = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE STUDENT.ETHNIC_CODE END),
	SPED504 = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE PLAN_504 END),
	SPED = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE (CASE WHEN SPECIAL_ED_CODE = '1' THEN 'Yes' ELSE 'No' END) END),
	ELL = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE (CASE WHEN LEP_ELIGIBIL_CODE = '1' THEN 'Yes' ELSE 'No' END) END),
	DISTRICT_FAY = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE (CASE WHEN DISTRICT_FAY = '1' THEN 'Yes' ELSE 'No' END) END),
	SCHOOL_FAY = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE (CASE WHEN SCHOOL_FAY = '1' THEN 'Yes' ELSE 'No' END) END),
	SCHOOL_YEAR = STUDENT.SCHOOL_YEAR
FROM #STUDENT_LIST_2014 AS STUDENT
LEFT JOIN STG_MART.SCHOLWHS.DISTRICT AS DISTRICT ON
		DISTRICT.DISTRICT_KEY = STUDENT.DISTRICT_KEY AND
		STUDENT.SCHOOL_YEAR = @SCHOOL_YEAR AND
		DISTRICT.DISTRICT_KEY = @DISTRICT_KEY
ORDER BY STUDENT.LOCATION_NAME

END

--BHM - 07/06/2015
--ADDING CODE FOR 20142015

IF @SCHOOL_YEAR = '2015-06-30'
BEGIN


DECLARE @WINDOW_OPEN_2015 VARCHAR(10)
SET @WINDOW_OPEN_2015 = CAST(YEAR(@SCHOOL_YEAR) AS VARCHAR) + '-03-23'  --- NESA-RMS WINDOW OPENS 3-23-2015

DECLARE @WINDOW_CLOSE_2015 VARCHAR(10)
SET @WINDOW_CLOSE_2015 = CAST(YEAR(@SCHOOL_YEAR) AS VARCHAR) + '-05-01'  --- NESA-WRITING WINDOW CLOSES 5-1-2015


SELECT *
INTO #SELECT_DISTRICT_2015
FROM [NESA].[dbo].[NESA_PRE_REPORTING_DATA_ROSTER_REVIEW]
WHERE DISTRICT_CODE = @NESA_DISTRICT_CODE AND
	 [YEAR] = YEAR(@SCHOOL_YEAR) AND
	 [SUBJECT] = 'M'


SELECT DISTINCT
	SCHOOL_YEAR = @SCHOOL_YEAR,
	STUDENT.STUDENT_KEY,
	STUDENT.DISTRICT_KEY,
	STUDENT.LOCATION_KEY,
    LOCATION_ID = RIGHT((RTRIM(SCHOOL_CODE)),3),
    LOCATION_NAME = '*** THIS LOCATION CODE IS NOT VALID *** ',
	STUDENT_FIRST_NM,
	STUDENT_LAST_NM,
	STUDENT_MID_INIT,
	STUDENT_ID_ALT,
	STUDENT_GENDER_CD,
	GRADELVL = MATH.GRADE,
	GRADE = '     ',
	DISTRICT_FAY = '2',
	SCHOOL_FAY = '2',
	ETHNIC_CODE = RACE.REPORTING_RACE_CODE,
	PLAN_504 = CASE WHEN STUDENT.SCHOOL_YEAR >= '2015-06-30' THEN STUDENT.ADA_STATUS_DESC ELSE
				STUDENT.PLAN_504 END,
	SPECIAL_ED_CODE = '2',
	LEP_ELIGIBIL_CODE,
	STATECHILDID = MATH.NSSRS
INTO #STUDENT_LIST_2015
FROM #SELECT_DISTRICT_2015 AS MATH
LEFT JOIN STG_MART.SCHOLWHS.STUDENT AS STUDENT ON 
        STUDENT.SCHOOL_YEAR = @SCHOOL_YEAR AND
        MATH.[YEAR] = SUBSTRING(CONVERT(CHAR(10),STUDENT.SCHOOL_YEAR,126),1,4) AND
        STUDENT.DISTRICT_KEY = @DISTRICT_KEY AND
        MATH.DISTRICT_CODE = @NESA_DISTRICT_CODE AND
        '31' + LEFT((LTRIM(MATH.DISTRICT_CODE)),6) = STUDENT.DISTRICT_KEY AND
        MATH.NSSRS = STUDENT.STUDENT_ID
LEFT JOIN STG_MART_NDE.dbo.REPORTING_RACE_LOOKUP as RACE ON
        STUDENT.RPTG_RACE_ETHNICITY_DESC = RACE.RPTG_RACE_ETHNICITY_DESC
LEFT JOIN STG_MART.SCHOLWHS.SPECIAL_ED_SNAP AS SPED ON
		STUDENT.STUDENT_KEY = SPED.STUDENT_KEY AND
		STUDENT.SCHOOL_YEAR = SPED.SCHOOL_YEAR AND
		SPED.SNAPSHOT_DATE = @SCHOOL_YEAR
WHERE 	MATH.DISTRICT_CODE = @NESA_DISTRICT_CODE



/*****  UPDATE DATE SPECIAL EDUCATION CODE    ******/
UPDATE #STUDENT_LIST_2015
SET SPECIAL_ED_CODE = '1'
FROM #STUDENT_LIST_2015 AS NESA
INNER JOIN  STG_MART.SCHOLWHS.SPECIAL_ED_SNAP AS SPED ON
			NESA.STUDENT_KEY = SPED.STUDENT_KEY AND
			NESA.SCHOOL_YEAR = SPED.SCHOOL_YEAR AND
			SPED.SNAPSHOT_DATE = @SCHOOL_YEAR
--2015-07-06 BHM change sped to be consistant with indicators table
WHERE PRIM_DISABIL_CD <> '00' AND
((EXIT_DATE >= @WINDOW_OPEN_2015 OR EXIT_DATE is null) AND ENTRY_DATE <= @WINDOW_CLOSE_2015)
--WHERE EXIT_DATE is null OR EXIT_DATE >= @WINDOW_OPEN_2015 OR ENTRY_DATE <= @WINDOW_CLOSE_2015	


/*  DETERMINE DISTRICT_FAY USING OCTOBER SNAPSHOT  */
UPDATE  #STUDENT_LIST_2015
SET     DISTRICT_FAY = '1'
FROM    #STUDENT_LIST_2015 AS NESA
INNER JOIN  STG_MART.SCHOLWHS.STUD_SNAPSHOT AS SNAP ON
            SNAP.SCHOOL_YEAR = NESA.SCHOOL_YEAR AND
            SNAP.SNAPSHOT_DATE = @SNAPSHOT_DATE AND
            SNAP.DISTRICT_KEY = NESA.DISTRICT_KEY AND
            SNAP.STUDENT_KEY = NESA.STUDENT_KEY
            
            
/* ASSIGN SCHOOL NAME IF LOCATION_ID IS VALID */
UPDATE #STUDENT_LIST_2015
SET LOCATION_NAME = LOCATION.LOCATION_NAME
FROM #STUDENT_LIST_2015
LEFT JOIN STG_MART.SCHOLWHS.LOCATION AS LOCATION ON
        LOCATION.DISTRICT_KEY = @DISTRICT_KEY AND
		#STUDENT_LIST_2015.LOCATION_ID = LOCATION.LOCATION_ID


/*  DETERMINE SCHOOL_FAY USING OCTOBER SNAPSHOT  */
UPDATE  #STUDENT_LIST_2015
SET     SCHOOL_FAY = '1'
FROM	#STUDENT_LIST_2015 AS NESA
INNER JOIN  STG_MART.SCHOLWHS.STUD_SNAPSHOT AS SNAP ON
            SNAP.SCHOOL_YEAR = NESA.SCHOOL_YEAR AND
            SNAP.SNAPSHOT_DATE = @SNAPSHOT_DATE AND
            SNAP.DISTRICT_KEY = NESA.DISTRICT_KEY AND
            SNAP.STUDENT_KEY = NESA.STUDENT_KEY AND
            SNAP.LOCATION_KEY = NESA.LOCATION_KEY
WHERE NESA.STUDENT_KEY NOT IN (SELECT DISTINCT SNAP.STUDENT_KEY
								FROM STG_MART.SCHOLWHS.PROGRAMS_FACT AS FACT
								INNER JOIN STG_MART.SCHOLWHS.PROGRAMS_CODE AS CODE ON
									FACT.PROGRAMS_KEY=CODE.PROGRAMS_KEY
								INNER JOIN STG_MART.SCHOLWHS.STUD_SNAPSHOT AS SNAP ON
									FACT.SCHOOL_YEAR = SNAP.SCHOOL_YEAR AND
									SNAP.SNAPSHOT_DATE = @SNAPSHOT_DATE AND
									FACT.DISTRICT_KEY = SNAP.DISTRICT_KEY AND
									FACT.STUDENT_KEY = SNAP.STUDENT_KEY
								WHERE FACT.SCHOOL_YEAR = @SCHOOL_YEAR AND 
									CODE.PROGRAMS_CODE = 'INTERIM')


/* ASSIGN NAME ON DRC NESA MATH FILE IF STUDENT NOT FOUND IN NSSRS FOR THE DISTRICT */
UPDATE #STUDENT_LIST_2015
SET STUDENT_FIRST_NM = UPPER(STUDENT.FIRST_NAME),
	STUDENT_LAST_NM = UPPER(STUDENT.LAST_NAME),
	STUDENT_MID_INIT = UPPER(STUDENT.MIDDLE_INITIAL),
	DISTRICT_KEY = '31' + LEFT((LTRIM(STUDENT.DISTRICT_CODE)),6)
FROM #STUDENT_LIST_2015 AS NESA
INNER JOIN #SELECT_DISTRICT_2015 AS STUDENT ON
        NESA.SCHOOL_YEAR = @SCHOOL_YEAR AND
        '31' + LEFT((LTRIM(STUDENT.DISTRICT_CODE)),6) = @DISTRICT_KEY AND
        NESA.STATECHILDID = STUDENT.NSSRS AND
		NESA.STUDENT_KEY IS NULL
		
INSERT INTO #RETURN_RESULTS
	(DISTRICT_NAME
	, DISTRICT_CODE
	, LOCATION_NAME
	, LOCATION_ID
	, FIRST_NAME
	, LAST_NAME
	, MIDDLE_INITIAL
	, GRADE_LEVEL
	, NDE_STUDENT_IDENTIFIER
	, LOCAL_STUDENT_ID
	, GENDER
	, ETHNIC_CODE
	, SPED504
	, SPED
	, ELL
	, DISTRICT_FAY
	, SCHOOL_FAY
	, SCHOOL_YEAR)
SELECT
	DISTRICT_NAME = DISTRICT.DISTRICT_NAME,
	DISTRICT_CODE = DISTRICT.DISTRICT_CODE,
	LOCATION_NAME = STUDENT.LOCATION_NAME,
	LOCATION_ID = STUDENT.LOCATION_ID,	
	FIRST_NAME = UPPER(STUDENT.STUDENT_FIRST_NM),
	LAST_NAME = UPPER(STUDENT.STUDENT_LAST_NM),
	MIDDLE_INITIAL = UPPER(STUDENT.STUDENT_MID_INIT),
	GRADE_LEVEL = STUDENT.GRADELVL,
	NDE_STUDENT_IDENTIFIER = STUDENT.STATECHILDID,
	LOCAL_STUDENT_ID = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE STUDENT.STUDENT_ID_ALT END),
	GENDER = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE STUDENT.STUDENT_GENDER_CD END),
	ETHNIC_CODE = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE STUDENT.ETHNIC_CODE END),
	SPED504 = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE PLAN_504 END),
	SPED = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE (CASE WHEN SPECIAL_ED_CODE = '1' THEN 'Yes' ELSE 'No' END) END),
	ELL = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE (CASE WHEN LEP_ELIGIBIL_CODE = '1' THEN 'Yes' ELSE 'No' END) END),
	DISTRICT_FAY = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE (CASE WHEN DISTRICT_FAY = '1' THEN 'Yes' ELSE 'No' END) END),
	SCHOOL_FAY = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE (CASE WHEN SCHOOL_FAY = '1' THEN 'Yes' ELSE 'No' END) END),
	SCHOOL_YEAR = STUDENT.SCHOOL_YEAR
FROM #STUDENT_LIST_2015 AS STUDENT
LEFT JOIN STG_MART.SCHOLWHS.DISTRICT AS DISTRICT ON
		DISTRICT.DISTRICT_KEY = STUDENT.DISTRICT_KEY AND
		STUDENT.SCHOOL_YEAR = @SCHOOL_YEAR AND
		DISTRICT.DISTRICT_KEY = @DISTRICT_KEY
ORDER BY STUDENT.LOCATION_NAME

END

IF @SCHOOL_YEAR>='2016-06-30'
BEGIN


DECLARE @WINDOW_OPEN_2016 VARCHAR(10)
SET @WINDOW_OPEN_2016 = CAST(YEAR(@SCHOOL_YEAR) AS VARCHAR) + '-03-21'  --- NESA-RMS WINDOW OPENS 3-23-2016

DECLARE @WINDOW_CLOSE_2016 VARCHAR(10)
SET @WINDOW_CLOSE_2016 = CAST(YEAR(@SCHOOL_YEAR) AS VARCHAR) + '-05-06'  --- NESA-WRITING WINDOW CLOSES 5-1-2016


SELECT *
INTO #SELECT_DISTRICT_2016
FROM [NESA].[dbo].[NESA_PRE_REPORTING_DATA_ROSTER_REVIEW]
WHERE DISTRICT_CODE = @NESA_DISTRICT_CODE AND
	 [YEAR] = YEAR(@SCHOOL_YEAR) AND
	 [SUBJECT] = 'M'


SELECT DISTINCT
	SCHOOL_YEAR = @SCHOOL_YEAR,
	STUDENT.STUDENT_KEY,
	STUDENT.DISTRICT_KEY,
	STUDENT.LOCATION_KEY,
    LOCATION_ID = RIGHT((RTRIM(SCHOOL_CODE)),3),
    LOCATION_NAME = '*** THIS LOCATION CODE IS NOT VALID *** ',
	STUDENT_FIRST_NM,
	STUDENT_LAST_NM,
	STUDENT_MID_INIT,
	STUDENT_ID_ALT,
	STUDENT_GENDER_CD,
	GRADELVL = MATH.GRADE,
	GRADE = '     ',
	DISTRICT_FAY = '2',
	SCHOOL_FAY = '2',
	ETHNIC_CODE = RACE.REPORTING_RACE_CODE,
	PLAN_504 = CASE WHEN STUDENT.SCHOOL_YEAR >= '2016-06-30' THEN STUDENT.ADA_STATUS_DESC ELSE
				STUDENT.PLAN_504 END,
	SPECIAL_ED_CODE = '2',
	LEP_ELIGIBIL_CODE,
	STATECHILDID = MATH.NSSRS
INTO #STUDENT_LIST_2016
FROM #SELECT_DISTRICT_2016 AS MATH
LEFT JOIN STG_MART.SCHOLWHS.STUDENT AS STUDENT ON 
        STUDENT.SCHOOL_YEAR = @SCHOOL_YEAR AND
        MATH.[YEAR] = SUBSTRING(CONVERT(CHAR(10),STUDENT.SCHOOL_YEAR,126),1,4) AND
        STUDENT.DISTRICT_KEY = @DISTRICT_KEY AND
        MATH.DISTRICT_CODE = @NESA_DISTRICT_CODE AND
        '31' + LEFT((LTRIM(MATH.DISTRICT_CODE)),6) = STUDENT.DISTRICT_KEY AND
        MATH.NSSRS = STUDENT.STUDENT_ID
LEFT JOIN STG_MART_NDE.dbo.REPORTING_RACE_LOOKUP as RACE ON
        STUDENT.RPTG_RACE_ETHNICITY_DESC = RACE.RPTG_RACE_ETHNICITY_DESC
LEFT JOIN STG_MART.SCHOLWHS.SPECIAL_ED_SNAP AS SPED ON
		STUDENT.STUDENT_KEY = SPED.STUDENT_KEY AND
		STUDENT.SCHOOL_YEAR = SPED.SCHOOL_YEAR AND
		SPED.SNAPSHOT_DATE = @SCHOOL_YEAR
WHERE 	MATH.DISTRICT_CODE = @NESA_DISTRICT_CODE



/*****  UPDATE DATE SPECIAL EDUCATION CODE    ******/
UPDATE #STUDENT_LIST_2016
SET SPECIAL_ED_CODE = '1'
FROM #STUDENT_LIST_2016 AS NESA
INNER JOIN  STG_MART.SCHOLWHS.SPECIAL_ED_SNAP AS SPED ON
			NESA.STUDENT_KEY = SPED.STUDENT_KEY AND
			NESA.SCHOOL_YEAR = SPED.SCHOOL_YEAR AND
			SPED.SNAPSHOT_DATE = @SCHOOL_YEAR
--2016-07-06 BHM change sped to be consistant with indicators table
WHERE PRIM_DISABIL_CD <> '00' AND
((EXIT_DATE >= @WINDOW_OPEN_2016 OR EXIT_DATE is null) AND ENTRY_DATE <= @WINDOW_CLOSE_2016)
--WHERE EXIT_DATE is null OR EXIT_DATE >= @WINDOW_OPEN_2016 OR ENTRY_DATE <= @WINDOW_CLOSE_2016	


/*  DETERMINE DISTRICT_FAY USING OCTOBER SNAPSHOT  */
UPDATE  #STUDENT_LIST_2016
SET     DISTRICT_FAY = '1'
FROM    #STUDENT_LIST_2016 AS NESA
INNER JOIN  STG_MART.SCHOLWHS.STUD_SNAPSHOT AS SNAP ON
            SNAP.SCHOOL_YEAR = NESA.SCHOOL_YEAR AND
            SNAP.SNAPSHOT_DATE = @SNAPSHOT_DATE AND
            SNAP.DISTRICT_KEY = NESA.DISTRICT_KEY AND
            SNAP.STUDENT_KEY = NESA.STUDENT_KEY
            
            
/* ASSIGN SCHOOL NAME IF LOCATION_ID IS VALID */
UPDATE #STUDENT_LIST_2016
SET LOCATION_NAME = LOCATION.LOCATION_NAME
FROM #STUDENT_LIST_2016
LEFT JOIN STG_MART.SCHOLWHS.LOCATION AS LOCATION ON
        LOCATION.DISTRICT_KEY = @DISTRICT_KEY AND
		#STUDENT_LIST_2016.LOCATION_ID = LOCATION.LOCATION_ID


/*  DETERMINE SCHOOL_FAY USING OCTOBER SNAPSHOT  */
UPDATE  #STUDENT_LIST_2016
SET     SCHOOL_FAY = '1'
FROM	#STUDENT_LIST_2016 AS NESA
INNER JOIN  STG_MART.SCHOLWHS.STUD_SNAPSHOT AS SNAP ON
            SNAP.SCHOOL_YEAR = NESA.SCHOOL_YEAR AND
            SNAP.SNAPSHOT_DATE = @SNAPSHOT_DATE AND
            SNAP.DISTRICT_KEY = NESA.DISTRICT_KEY AND
            SNAP.STUDENT_KEY = NESA.STUDENT_KEY AND
            SNAP.LOCATION_KEY = NESA.LOCATION_KEY
WHERE NESA.STUDENT_KEY NOT IN (SELECT DISTINCT SNAP.STUDENT_KEY
								FROM STG_MART.SCHOLWHS.PROGRAMS_FACT AS FACT
								INNER JOIN STG_MART.SCHOLWHS.PROGRAMS_CODE AS CODE ON
									FACT.PROGRAMS_KEY=CODE.PROGRAMS_KEY
								INNER JOIN STG_MART.SCHOLWHS.STUD_SNAPSHOT AS SNAP ON
									FACT.SCHOOL_YEAR = SNAP.SCHOOL_YEAR AND
									SNAP.SNAPSHOT_DATE = @SNAPSHOT_DATE AND
									FACT.DISTRICT_KEY = SNAP.DISTRICT_KEY AND
									FACT.STUDENT_KEY = SNAP.STUDENT_KEY
								WHERE FACT.SCHOOL_YEAR = @SCHOOL_YEAR AND 
									CODE.PROGRAMS_CODE = 'INTERIM')


/* ASSIGN NAME ON DRC NESA MATH FILE IF STUDENT NOT FOUND IN NSSRS FOR THE DISTRICT */
UPDATE #STUDENT_LIST_2016
SET STUDENT_FIRST_NM = UPPER(STUDENT.FIRST_NAME),
	STUDENT_LAST_NM = UPPER(STUDENT.LAST_NAME),
	STUDENT_MID_INIT = UPPER(STUDENT.MIDDLE_INITIAL),
	DISTRICT_KEY = '31' + LEFT((LTRIM(STUDENT.DISTRICT_CODE)),6)
FROM #STUDENT_LIST_2016 AS NESA
INNER JOIN #SELECT_DISTRICT_2016 AS STUDENT ON
        NESA.SCHOOL_YEAR = @SCHOOL_YEAR AND
        '31' + LEFT((LTRIM(STUDENT.DISTRICT_CODE)),6) = @DISTRICT_KEY AND
        NESA.STATECHILDID = STUDENT.NSSRS AND
		NESA.STUDENT_KEY IS NULL
		
INSERT INTO #RETURN_RESULTS
	(DISTRICT_NAME
	, DISTRICT_CODE
	, LOCATION_NAME
	, LOCATION_ID
	, FIRST_NAME
	, LAST_NAME
	, MIDDLE_INITIAL
	, GRADE_LEVEL
	, NDE_STUDENT_IDENTIFIER
	, LOCAL_STUDENT_ID
	, GENDER
	, ETHNIC_CODE
	, SPED504
	, SPED
	, ELL
	, DISTRICT_FAY
	, SCHOOL_FAY
	, SCHOOL_YEAR)
SELECT
	DISTRICT_NAME = DISTRICT.DISTRICT_NAME,
	DISTRICT_CODE = DISTRICT.DISTRICT_CODE,
	LOCATION_NAME = STUDENT.LOCATION_NAME,
	LOCATION_ID = STUDENT.LOCATION_ID,	
	FIRST_NAME = UPPER(STUDENT.STUDENT_FIRST_NM),
	LAST_NAME = UPPER(STUDENT.STUDENT_LAST_NM),
	MIDDLE_INITIAL = UPPER(STUDENT.STUDENT_MID_INIT),
	GRADE_LEVEL = STUDENT.GRADELVL,
	NDE_STUDENT_IDENTIFIER = STUDENT.STATECHILDID,
	LOCAL_STUDENT_ID = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE STUDENT.STUDENT_ID_ALT END),
	GENDER = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE STUDENT.STUDENT_GENDER_CD END),
	ETHNIC_CODE = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE STUDENT.ETHNIC_CODE END),
	SPED504 = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE PLAN_504 END),
	SPED = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE (CASE WHEN SPECIAL_ED_CODE = '1' THEN 'Yes' ELSE 'No' END) END),
	ELL = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE (CASE WHEN LEP_ELIGIBIL_CODE = '1' THEN 'Yes' ELSE 'No' END) END),
	DISTRICT_FAY = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE (CASE WHEN DISTRICT_FAY = '1' THEN 'Yes' ELSE 'No' END) END),
	SCHOOL_FAY = (CASE WHEN STUDENT.STUDENT_KEY IS NULL THEN '' ELSE (CASE WHEN SCHOOL_FAY = '1' THEN 'Yes' ELSE 'No' END) END),
	SCHOOL_YEAR = STUDENT.SCHOOL_YEAR
FROM #STUDENT_LIST_2016 AS STUDENT
LEFT JOIN STG_MART.SCHOLWHS.DISTRICT AS DISTRICT ON
		DISTRICT.DISTRICT_KEY = STUDENT.DISTRICT_KEY AND
		STUDENT.SCHOOL_YEAR = @SCHOOL_YEAR AND
		DISTRICT.DISTRICT_KEY = @DISTRICT_KEY
ORDER BY STUDENT.LOCATION_NAME
	
	END


SELECT
	DISTRICT_NAME
	, DISTRICT_CODE
	, LOCATION_NAME
	, LOCATION_ID
	, FIRST_NAME
	, LAST_NAME
	, MIDDLE_INITIAL
	, GRADE_LEVEL
	, NDE_STUDENT_IDENTIFIER
	, LOCAL_STUDENT_ID
	, GENDER
	, ETHNIC_CODE
	, SPED504
	, SPED
	, ELL
	, DISTRICT_FAY
	, SCHOOL_FAY
	, SCHOOL_YEAR
FROM #RETURN_RESULTS
ORDER BY LOCATION_NAME
	